@media (max-width: 1600px) {
  .burger__header {
    display: block; }
  .header__menu {
    display: none; }
  .menu_room {
    display: none; }
  .main__frame {
    max-width: 80%; }
  .main__title {
    font-size: 70px; }
  .frame__btn {
    padding: 30px 100px; }
  .text_room {
    font-size: 28px; }
  .subtitle {
    font-size: 54px; }
  .btn_room {
    padding: 23px 70px;
    font-size: 27px; }
  .rooms__frame {
    max-width: 950px; }
  .two_rooms {
    padding: 118px 60px 52px 380px; }
    .two_rooms:before {
      width: 445px;
      height: 520px;
      top: 70px;
      left: -150px; }
  .three_rooms {
    padding: 118px 320px 52px 87px; }
    .three_rooms:before {
      width: 445px;
      height: 520px;
      top: 60px;
      right: -200px; }
  .fourth_rooms {
    padding: 118px 60px 52px 380px; }
    .fourth_rooms:before {
      width: 445px;
      height: 520px;
      top: 70px;
      left: -150px; }
  .room_nav {
    padding-left: 50px; } }

@media (max-width: 1560px) {
  .main__frame {
    max-width: 80%; }
  .frame__left {
    padding-right: 100px; }
  .main__title {
    font-size: 70px; }
  .frame__btn {
    padding: 30px 60px; }
  .main__title {
    font-size: 65px; }
  .main__frame {
    padding: 0px 60px 150px 60px; } }

@media (max-width: 1450px) {
  .main__frame {
    max-width: 80%; }
  .main__title {
    font-size: 60px; }
  .frame__btn {
    padding: 30px 60px;
    font-size: 32px; }
  .two_rooms {
    padding: 90px 60px 52px 380px; }
    .two_rooms:before {
      width: 425px;
      height: 500px;
      top: 70px;
      left: -120px; }
  .three_rooms {
    padding: 90px 320px 52px 87px; }
    .three_rooms:before {
      width: 425px;
      height: 500px;
      top: 60px;
      right: -170px; }
  .fourth_rooms {
    padding: 90px 60px 52px 380px; }
    .fourth_rooms:before {
      width: 425px;
      height: 500px;
      top: 70px;
      left: -120px; }
  .map__item {
    margin-top: -210px;
    width: 596px;
    height: 443px;
    left: 150px;
    top: 50%;
    padding-left: 100px;
    padding-top: 60px; } }

@media (max-width: 1350px) {
  .main__frame {
    max-width: 80%; }
  .frame__logo {
    width: 140px;
    height: 140px; }
  .btb_tel {
    width: 30px;
    height: 30px; }
  .main__title {
    font-size: 60px;
    line-height: 100px; }
  .frame__text {
    font-size: 25px; }
  .frame__btn {
    padding: 25px 45px;
    font-size: 25px;
    margin-top: 50px; }
  .text_room {
    font-size: 25px; }
  .subtitle {
    font-size: 52px; }
  .btn_room {
    padding: 23px 70px;
    font-size: 27px; }
  .rooms__frame {
    max-width: 950px; }
  .two_rooms {
    padding: 90px 60px 52px 350px; }
    .two_rooms:before {
      width: 400px;
      height: 475px;
      top: 70px;
      left: -100px; }
  .three_rooms {
    padding: 90px 340px 52px 50px; }
    .three_rooms:before {
      width: 400px;
      height: 475px;
      top: 60px;
      right: -120px; }
  .fourth_rooms {
    padding: 90px 60px 52px 350px; }
    .fourth_rooms:before {
      width: 400px;
      height: 475px;
      top: 70px;
      left: -100px; }
  .room_info .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .room_right {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
    margin-bottom: 40px;
    padding-left: 50px; }
  .img_room {
    width: 70%; }
  .slaider_room {
    text-align: center;
    padding-top: 20px; }
    .room_symbol {
    text-align: center;}
    .symbol__item {
    margin-right: 15%;}
    .slaider_room:before {
      content: "Фото";
      color: #000;
      font-size: 70px; }
    .slaider_room .slick-arrow.slick-prev {
      left: 20px;
      background: url("../img/black_arrow_left.svg") 0 0/100% no-repeat;
      opacity: .8; }
    .slaider_room .slick-arrow.slick-next {
      right: 20px;
      background: url("../img/black_arrow_right.svg") 0 0/100% no-repeat;
      opacity: .8; } }

@media (max-width: 1250px) {
  .frame__left:after {
    top: calc(50% - 150px); }
  .main__title {
    font-size: 55px;
    line-height: 95px; }
  .frame__text {
    font-size: 23px; }
  .text_room {
    font-size: 25px; }
  .subtitle {
    font-size: 47px; }
  .btn_room {
    padding: 23px 70px;
    font-size: 27px; }
  .rooms__frame {
    max-width: 950px; }
  .two_rooms {
    padding: 80px 30px 52px 40%; }
    .two_rooms:before {
      width: 350px;
      height: 425px;
      top: 60px;
      left: -40px; }
  .three_rooms {
    padding: 90px 40% 52px 40px; }
    .three_rooms:before {
      width: 350px;
      height: 425px;
      top: 60px;
      right: -40px; }
  .fourth_rooms {
    padding: 60px 30px 52px 40%; }
    .fourth_rooms:before {
      width: 350px;
      height: 425px;
      top: 50px;
      left: -40px; } }

@media (max-width: 1200px) {
  .rooms {
    padding-top: 100px; }
  .gallery {
    padding-top: 100px; }
  .gallery__title {
    margin-bottom: 70px; }
  .rooms__title {
    margin-bottom: 70px; }
  .title {
    font-size: 65px;
    line-height: 114px; }
  .frame__left {
    padding-right: 50px; }
    .frame__left:after {
      top: calc(50% - 150px);
      right: 30px; }
  .main__frame {
    max-width: 85%;
    padding: 0px 50px 150px 50px; }
  .main__title {
    font-size: 50px;
    line-height: 95px; }
  .frame__text {
    font-size: 23px; } }

@media (max-width: 1100px) {
  .header__menu.active {
    width: 55%; }
  .menu_room.active {
    width: 55%; }
  .text_room {
    font-size: 18px;
    line-height: 35px; }
  .subtitle {
    font-size: 40px;
    margin-bottom: 30px; }
  .btn_room {
    padding: 15px 52px;
    font-size: 20px; }
  .rooms__frame {
    max-width: 700px; }
  .two_rooms {
    padding: 80px 30px 52px 40%; }
    .two_rooms:before {
      width: 300px;
      height: 375px;
      top: 60px;
      left: -70px; }
  .three_rooms {
    padding: 90px 40% 52px 40px; }
    .three_rooms:before {
      width: 300px;
      height: 375px;
      top: 70px;
      right: -70px; }
  .fourth_rooms {
    padding: 60px 30px 52px 40%; }
    .fourth_rooms:before {
      width: 300px;
      height: 375px;
      top: 50px;
      left: -70px; }
  .footer__logo {
    width: 150px;
    height: 150px; }
  .footer__menu {
    font-size: 28px; }
  .footer__rooms {
    font-size: 28px; }
  .footer__link {
    font-size: 20px; }
  .footer__contact {
    font-size: 22px; }
  .footer__bottom {
    font-size: 17px; }
  .rooms__information {
    font-size: 32px; }
  .rooms__paragraph {
    margin-bottom: 30px; }
  .rooms__box .container {
    padding: 0 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .rooms__box .rooms__card {
    width: 500px;
    height: 550px;
    margin: 0 auto 40px auto; }
  .table__scroll {
    overflow-y: scroll; }
  .rooms__table {
    width: 1100px; } }

@media (max-width: 1000px) {
  .frame__right {
    padding-top: 50px; }
  .main__frame {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 75%; }
  .main__title {
    display: block;
    line-height: 65px; }
  .main__frame {
    padding: 0px 50px 70px 50px; }
  .frame__left {
    padding-top: 50px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .frame__left:after {
      display: none; }
    .frame__left:before {
      content: "";
      width: 70%;
      height: 1px;
      position: absolute;
      bottom: -20px;
      right: calc(50% - 250px);
      background-color: #fff; }
  .frame__btn {
    margin-top: 35px; }
  .map__item {
    width: 500px;
    height: 350px;
    left: 100px;
    padding-left: 60px;
    padding-top: 50px; }
  .map__title {
    font-size: 32px;
    margin-bottom: 30px; }
  .map__text {
    margin-bottom: 15px; } }

@media (max-width: 900px) {
  .text_room {
    font-size: 16px;
    line-height: 32px;
    margin-bottom: 35px; }
  .subtitle {
    font-size: 35px;
    margin-bottom: 30px; }
  .btn_room {
    padding: 15px 52px;
    font-size: 17px; }
  .rooms__frame {
    max-width: 600px;
    padding-bottom: 70px; }
  .two_rooms {
    padding: 60px 20px 52px 35%; }
    .two_rooms:before {
      width: 270px;
      height: 355px;
      top: 40px;
      left: -90px; }
  .three_rooms {
    padding: 70px 35% 52px 40px; }
    .three_rooms:before {
      width: 270px;
      height: 355px;
      top: 50px;
      right: -90px; }
  .fourth_rooms {
    padding: 60px 30px 52px 35%; }
    .fourth_rooms:before {
      width: 270px;
      height: 355px;
      top: 50px;
      left: -90px; }
  .footer .container {
    display: block; }
  .footer__right {
    width: 100%;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .footer__left {
    display: none; }
  .footer__menu {
    margin-left: 80px;
    margin-right: 80px;
    position: relative; }
    .footer__menu:before {
      content: '';
      position: absolute;
      top: -30px;
      left: -150px;
      width: 150px;
      height: 150px;
      background-size: contain;
      background-image: url(../img/logo.png); }
  .footer__link {
    line-height: 40px; }
  .scroll__table {
    overflow-x: scroll; }
  .fourroom__table, .three__table, .tworoom__table {
    width: 1100px; } }

@media (max-width: 850px) {
  .text_room {
    font-size: 16px;
    line-height: 32px;
    margin-bottom: 35px; }
  .subtitle {
    font-size: 35px;
    margin-bottom: 30px; }
  .btn_room {
    padding: 15px 52px;
    font-size: 17px; }
  .rooms__frame {
    max-width: 600px;
    padding-bottom: 70px; }
  .text_room {
    font-size: 18px; }
  .two_rooms {
    padding: 60px 20px 52px 80px; }
    .two_rooms:after {
      left: calc(50% - 200px);
      width: 67%; }
    .two_rooms:before {
      display: none; }
  .three_rooms {
    padding: 60px 20px 52px 80px;
    text-align: left; }
    .three_rooms:after {
      left: calc(50% - 200px); }
    .three_rooms:before {
      display: none; }
  .fourth_rooms {
    padding: 60px 20px 52px 80px; }
    .fourth_rooms:after {
      left: calc(50% - 200px);
      width: 67%; }
    .fourth_rooms:before {
      display: none; }
  .gallery__pic {
    height: 100vh; } }

@media (max-width: 800px) {
  .frame__logo {
    margin-left: -30px; }
  .frame__left {
    padding-right: 0px; }
    .frame__left:before {
      right: calc(50% - 200px); }
  .map__item {
    width: 450px;
    height: 330px; }
  .map__title {
    font-size: 28px;
    margin-bottom: 26px; }
  .map__text {
    font-size: 20px;
    margin-bottom: 10px; }
  .title {
    font-size: 50px; }
  .rooms, .gallery {
    padding-top: 80px; }
  .rooms__title {
    margin-bottom: 50px; }
  .rooms__frame {
    max-width: 550px; }
  .map__item {
    width: 400px;
    height: 300px; }
  .map__title {
    font-size: 25px;
    margin-bottom: 20px; }
  .map__text {
    font-size: 18px;
    margin-bottom: 6px; } }

@media (max-width: 700px) {
  .main__frame {
    padding: 0px 40px 70px 40px; }
  .main__title {
    font-size: 40px;
    line-height: 60px; }
  .frame__text {
    font-size: 20px;
    line-height: 42px; }
  .rooms__frame {
    max-width: 500px;
    padding-bottom: 70px; }
  .two_rooms {
    padding: 60px 20px 52px 60px; }
  .three_rooms {
    padding: 70px 60px 52px 40px; }
  .fourth_rooms {
    padding: 60px 20px 52px 60px; }
  .rooms__box .rooms__card {
    width: 480px;
    height: 530px;
    margin: 0 auto 40px auto; }
  .room_link {
    font-size: 28px;
    }
  .room_title{
    font-size: 52px;
    margin-bottom: 90px;
      }
    .room_text {
    font-size: 28px;
    line-height: 30px;
    margin-bottom: 45px;
}
.rooms__information {
    font-size: 24px;
        margin-bottom: 90px;
}
.rooms__img {
    height: 400px;
}
.rooms__paragraph {
    margin-bottom: 15px;
}
.room_price {
    font-size: 35px;
}}

@media (max-width: 660px) {
  .frame__btn {
    padding: 20px 40px;
    font-size: 23px; }
  .btb_tel {
    width: 25px;
    height: 25px; }
  .frame__logo {
    width: 120px;
    height: 120px; }
  .frame__left:before {
    right: calc(50% - 170px); } }

@media (max-width: 605px) {
  .rooms .container {
    padding: 0 40px 0 40px; }
  .map__item {
    max-width: 350px;
    max-height: 280px;
    padding-left: 40px;
    padding-top: 30px;
    left: 10%; }
  .map__title {
    font-size: 25px;
    margin-bottom: 20px; }
  .map__text {
    font-size: 18px;
    margin-bottom: 6px; }
  .header_logo {
    width: 150px;
    height: 150px; }
  .instagram, .tel {
    display: none; } 
    .room_symbol {
      display: flex;
      flex-wrap: wrap;
  }
  .symbol__item {
      flex-wrap: wrap;
      flex: 0 1 33.33%;
      margin-bottom: 120px;
  }
  .wifi:before {
      top: -70px;
      left: 27%;
  }
  .wifi:before {
      top: -70px;
      left: 27%;
  }
  .area:before{
      top: -70px;
      left: 17%;
  }
  .tv:before{
    top: -70px;
    left: 28%;
  }
  .balcony:before {
    top: -70px;
    left: 26%;
  }
  .room_price {
    margin-top: -30px;
	}
  .slaider_room .slick-dots button {
    width: 15px;
    height: 15px;
	}
}
@media (max-width: 490px) {
  .room_right {
    padding-right: 20px;
  }
  
.slaider_room:before {
    font-size: 55px;
}
.accommodation_title{
  font-size: 42px;
}
.header__burger.burger_other {
    right: 40px;
    top: -15px;
}
.header_logo {
    width: 120px;
    height: 120px;
}
.ref_room {
    font-size: 18px;
    margin-bottom: 10px;
    margin-left: -10px;
    }
   .burger__header:before, .burger__header:after {
    height: 2px;}
    .burger__header span {
    height: 2px;}
  .wifi:before {
      left: 15%;
  }
  .area:before{
      left: 0
  }
  .tv:before{
    left: 13%;
  }
  .balcony:before {
    left: 13%;
  }
}