@import "nullstyle.scss";


body{
	color: #FFF;
	font-family: Spectral;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	overflow-x: hidden;
}
.container{
	max-width: 1620px;
	margin: 0px auto;
}
.main{
	padding: 100px 0 160px 0;
	background: url(../img/main.png) no-repeat;
	background-size: contain;
	background-color: #1A1F23;
}

/* СТИЛИ ДЛЯ БУРГЕРА*/

.header__burger{
	position: fixed;
	top: 130px;
	right: 60px;
	height: 85%;
	padding: 0 10px;

	display: flex;
	align-items: flex-start;
	z-index: 100;
}
.header__burger.burger_other{
		position: absolute;
		top: 0px;
		right: 70px;
}
.header__burger.burger_other.active{
		position: fixed;
		top: 80px;
		right: 70px;
}
.header__burger.active{
	display: flex;
	z-index: 100;
}
.burger__header {
	width: 40px;
	height: 25px;
	display: none;
}
.burger__header {
	z-index: 10002;
	position: relative;
	&:before,
	&:after{
		content: "";
			width: 100%;
			height: 3px;
			background-color: #fff;
			border-radius: 2px;

			position: absolute;
			right: 0;
	}
	&:before{
		top:0;
	}
	&:after{
		bottom:0;
	}
	span{
			width: 100%;
			height: 3px;
			border-radius: 3px;
			background-color:  #fff;

			position: absolute;
			top:45% ;
			left: 0;
	}
	&:hover{
		cursor: pointer;
	}
}
.burger__header.active{
	&:before{
	transform: rotate(45deg);
	top:6px;
	}
	&:after{
	transform: rotate(-45deg);
	top: 6px;
	}
	span{
		width: 0;
		height: 0;
	}
}

.main__header{
	position: relative;
}
.header__nav{
	display: flex;
	justify-content: flex-end;

}
.header__nav.active{
	flex-direction: column;
	position: absolute;
	top: 30%;
	left: 20%;
	& li{
		margin-top: 50px;
	}
}
.menu_room.active{
	display: block;
	position:fixed;
	right: 0;
	top: 0;
	background-color: #1A1F23;
	height: 100%;
	width: 30%;
	z-index: 99;
}
.header__menu.active{
	display: block;
	position:fixed;
	right: 0;
	top: 0;
	background-color: #1A1F23;
	height: 100%;
	width: 30%;
	z-index: 99;
}
.nav__link{
	//transform: translate(0px, 120%);
	//opacity: 0;
	transition: all 0.8s ease 0s;
	margin-right: 70px;
	color: #FFFFFF;
	&:hover{
		text-decoration: overline;
	}
}
.main__frame{
	display: flex;
	max-width: 1386px;
	margin: 88px auto 0px auto;
	background: rgba(26, 31, 35, 0.7);
	border: 1px solid #4A4A4A;
	box-sizing: border-box;
}
.main__title{
	font-weight: bold;
	font-size: 75px;
	line-height: 114px;
}
.main__frame{
	padding: 0px 80px 150px 80px;
}
.frame__left{
	position: relative;
	&:after{
		content:"";
		width: 1px;
		height: 100%;
		position: absolute;
		top: calc(50% - 200px);
		right: 50px;
		background-color: #fff;
	}
}
.frame__right{
	padding-top: 80px;
}
.frame__text{
	font-size: 30px;
	line-height: 47px;
}
@keyframes bounce {
	0%, 20%, 60%, 100% {
		transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		transform: translateY(-20px);
		transform: translateY(-20px);
	}

	80% {
		transform: translateY(-10px);
		transform: translateY(-10px);
	}
}
.frame__btn{
	display: block;
	margin-top: 70px;
	background: #EBEBEB;
	font-size: 36px;
	color: #000000;
	padding: 30px 140px;
	text-align: center;
	&:hover{
		animation: bounce 1s;
	}
}

/*==============ROOMS============*/
.rooms{
	margin-top: -80px;
	background: url(../img/back2.png) ;
	background-size: 100%;
	padding-top: 130px;
}
.title{
	font-size: 75px;
	line-height: 114px;
	letter-spacing: 0.085em;
	text-align: center;
}
.rooms__title{
	color: #000000;
	margin-bottom: 90px;
}
.rooms__frame{
	max-width: 1035px;
	margin: 0 auto 100px auto;
	padding-bottom:100px;
	background: #1A1F23;
}
.subtitle{
	font-size: 56px;
	color: #FFFFFF;
	margin-bottom: 50px;
}
.text_room{
	font-size: 30px;
	line-height: 44px;
	color: #FFFFFF;
	margin-bottom: 50px;
}
.btn_room{
	background-color: #fff;
	padding: 25px 75px;
	font-size: 30px;
	line-height: 44px;
	letter-spacing: 0.275em;
	transition: all .3s .1s ease-out;
	color: #000000;
	&:hover{
		letter-spacing: 15px;
	}
}
.two_rooms{
	position: relative;
	padding: 118px 60px 52px 380px;
	&:after{
		content: "";
		position: absolute;
		bottom: 0;
		right: 70px;
		height: 1px;
		background-color: #fff;
		width: 57%;
	}
	&:before{
		content: "";
		background-image: url('../img/2x_mest.jpg');
		background-size: auto;
		position: absolute;
		width: 475px;
		height: 550px;
		top: 70px;
		left: -200px;
		
	}
}
.three_rooms{
	position: relative;
	padding: 118px 320px 52px 87px;
	text-align: right;
	&:after{
		content: "";
		position: absolute;
		bottom: 0;
		left: 70px;
		height: 1px;
		background-color: #fff;
		width: 67%;
	}
	&:before{
		content: "";
		background-image: url('../img/3x_mest.jpg');
		background-size: auto;
		position: absolute;
		width: 475px;
		height: 550px;
		top: 60px;
		right: -250px;
	}
}
.fourth_rooms{
	position: relative;
	padding: 118px 60px 52px 380px;
	&:after{
		content: "";
		position: absolute;
		bottom: 0;
		right: 70px;
		height: 1px;
		background-color: #fff;
		width: 57%;
	}
	&:before{
		content: "";
		background-image: url('../img/4x_mest.jpg');
		background-size: 475px 550px ;
		position: absolute;
		width: 475px;
		height: 550px;
		top: 80px;
		left: - 200px;
	}
}

/*=============ГАЛЛЕРЕЯ================*/
.gallery{
	padding-top: 85px;
	padding-bottom: 85px;
	background-color: #1A1F23;
}
.gallery__title{
	color: #fff;
	margin-bottom: 115px;
}
/* Лента слайдов */
.slick-track{
	display: flex;
}
.galley__item {
	flex: 0 1 33.333%;
}
.gallery__pic{
	height: auto;
    width: auto;
}
.slick-track{
	overflow: hidden;
}

.gallery__slider {
	position: relative;
	text-align: center;
	overflow: hidden;
		.slick-arrow{
		position: absolute;
		top: 50%;
		width: 50px;
		height: 80px;
		z-index:10;
		font-size: 0;
	}
	.slick-arrow.slick-prev{
		left: 50px;
		background: url('../img/gallety_arrow_left.svg') 0 0 / 100% no-repeat;
	}
	.slick-arrow.slick-next{
		right: 50px;
		background: url('../img/gallety_arrow_right.svg') 0 0 / 100% no-repeat;;
	}
	.slick-slide.slick-center{
		opacity: 1;
		transform: scale(1);
	}
	.slick-slide{
		opacity: 0.3;
		transform: scale(0.8);
	}

}


/*==================КАРТА====================*/
.map{
	width: 100%;
	position: relative;
}
.map__map{
	width: 100%;
	height: 774px;
}
.map__item{
	position: absolute;
	color: #000;
	margin-top: -210px;
	width: 596px;
	height: 443px;
	background: #FFFFFF;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
	left: 259px;
	top: 50%;
	padding-left:100px;
	padding-top: 60px;

}
.map__title{
	font-size: 36px;
	line-height: 44px;
	letter-spacing: 0.015em;
	margin-bottom: 50px;
}
.map__text{
	margin-bottom: 25px;
	font-size: 24px;
	line-height: 44px;
	letter-spacing: 0.06em;
}
.map__contact{
	color: #000;
	&:hover{
		text-decoration: underline;
	}
}
/*================ФУТЕР==============*/
.footer{
	padding: 40px 0;
	background-color: #1A1F23;
	.container{
		display: flex;
		padding: 0px 80px 0 80px;
	}
}
.footer__left{
	flex: 1 0 50%;
}
.footer__right{
	display: flex;
	justify-content: flex-end;
	flex: 1 0 50%;
}
.footer__logo{
	width: 200px;
	height: 200px;
	margin-top: -20px;
}
.footer__top{
	display: flex;
}
.footer__contacts{
	display: flex;
	flex-direction: column;
}
.footer__menu{
	display: flex;
	flex-direction: column;
	font-size: 36px;
	line-height: 44px;
	margin-right: 50px;
}
.footer__rooms{
	display: flex;
	font-size: 36px;
	line-height: 44px;
	flex-direction: column;
}
.footer__link{
	color: #fff;
	font-size: 24px;
	line-height: 44px;
		&:hover{
		text-decoration: underline;
	}

}
.footer__contact{
	color: #fff;
	margin-top:  25px;
	font-size: 24px;
}
.footer__bottom{
	font-size: 24px;
	line-height: 44px;
}

/* tworoom*/
//ОБЩИЕ 
.room_info {
	.container{
		display: flex;
	}
}
.room_right {
	padding-left: 100px;
}
.room_title {
	font-size: 56px;
	margin-bottom: 100px;
	position: relative;

	&:after{
		position: absolute;
		content: "";
		width: 45%;
		height: 3px;
		background-color: #000000;
		bottom: -40px;
		left: 0;
	}
}
.room_text {
	font-size: 30px;
	line-height: 44px;
	margin-bottom: 50px;
	padding-right: 10px;
}
.room_price {
	font-size: 40px;
	margin-top: 90px;
}
.symbol__item {
	font-size: 25px;
	position: relative;
	margin-right: 80px;
}
.wifi {
	&:before{
		position: absolute;
		content: url(../img/wifi.svg);
		top: -70px;
		left: -50%;
	}
}
.area {
		&:before{
		position: absolute;
		content: url(../img/area.svg);
		top: -70px;
		left: -50%;
	}
}
.tv {
		&:before{
		position: absolute;
		content: url(../img/tv.svg);
		top: -70px;
		left: -80%;
	}
}
.balcony {
	&:before{
		position: absolute;
		content: url(../img/balcony.svg);
		top: -70px;
		left: -50%;
	}
}
.header_left {
	display: flex;
	align-items: center;
	flex: 1 0 50%;
}
.header_logo {
	width: 180px;
	height: 180px;
}
.header_contact {
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: #fff;
}
.instagram {
	margin-right: 10px;
}
.tel {
	margin-right: 10px;
}
.ref_room{
	color: #fff;
	font-size: 24px;
	margin-bottom: 20px;
	position: relative;
}
.menu_room{
	flex: 1 0 50%;
}
.header_room{
	display: flex;
	align-items: center;
}
.room_nav {
	padding-top: 15px;
	padding-bottom: 50px;
}
.room_link {
	color: #1A1F23;
}
.room{
	background-color: #1A1F23;
}
.room_info {
	color: #1A1F23;
}
.room_symbol {
	margin-top: 120px;
}
.img_room{
	width: 100%;
	height: auto;
	display: block;
	margin-top: auto;
	margin-bottom: auto;
}
.slaider_room{
	height: 800px;
	overflow: hidden;
	position: relative;
	flex: 1 0 50%;
	.slick-arrow{
		position: absolute;
		top: 50%;
		width: 40px;
		height: 70px;
		z-index:10;
		font-size: 0;
	}
	.slick-arrow.slick-prev{
		left: 20px;
		background: url('../img/gallety_arrow_left.svg') 0 0 / 100% no-repeat;
	}
	.slick-arrow.slick-next{
		right: 20px;
		background: url('../img/gallety_arrow_right.svg') 0 0 / 100% no-repeat;
	}
	.slick-dots{
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.slick-dots li{
		list-style: none;
		margin: 0 10px;
	}
	.slick-dots li.slick-active button{
		opacity: 0.8;
	}
	.slick-dots button{
		font-size: 0;
		width: 20px;
		height: 20px;
		background-color: #000;
		opacity: 0.4;
		border-radius:50%;
	}
}
.img_room{

}
.room_accommodation {
	padding-bottom: 97px;
}
.accommodation_title {
	text-align: center;
	margin-top: 100px;
	margin-bottom: 90px;
	font-size: 48px;
	color: #000000;
}
.accommodation_table{
	color: #000;
	width: 100%;
	 border-spacing: 0px;
  border-collapse: collapse;
}
.table__header{
	width: 12%;
	height: 98px;
	text-align: center;
	border: 1px solid #000000;
	font-weight: 300;
	font-size: 27px;
	 border-spacing: 0;
	line-height: 28px;

}
.table__row{
	width: 12%;
	height: 98px;
	text-align: center;
	border: 1px solid #000000;
	font-weight: 300;
	font-size: 25px;
	line-height: 28px;
}
.first_row{
	width: 28%;
	height: 84px;
}
/*============*/

.rooms__information {
	font-style: normal;
	font-weight: 300;
	font-size: 36px;
	line-height: 44px;
	color: #000000;
	margin-bottom: 135px;
	.container{
		padding-left: 50px;
		padding-right: 50px;
	}
}

.rooms__paragraph {
	margin-bottom: 40px;
}
.rooms__box {
	.container{
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-around; 
	}

}
.rooms__card {
	flex: 0 1 30%;
	position: relative;
	&:hover{
		.rooms__img{
			filter: blur(2px);
			border: 1px solid #fff;
		}
	}
}
.rooms__name {
	position: absolute;
	top:40%;
	left: calc(50% - 150px);
	text-align: center;
	font-style: normal;
	font-weight: bold;
	letter-spacing: 5px;
	font-size: 48px;
	color: #FFFFFF;
}
.rooms__img {
	position: relative;
	height: 550px;
}
.rooms__img2{
	background:url(../img/rooms_2.png) no-repeat center;
    background-size: cover;
}
.rooms__img3{
	background:url(../img/rooms_3.png) no-repeat center;
    background-size: cover;
}
.rooms__img4{
	background:url(../img/rooms_4.png) no-repeat center;
    background-size: cover;
}
@import "adaptive.scss";