@import "nullstyle.scss";

body{
	color: #FFFFFF;
	font-family: Spectral;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	overflow-x: hidden;
}
.container{
	max-width: 1620px;
	margin: 0px auto;
}
.main{
	padding: 100px 0 160px 0;
	background: url(../img/main.png) no-repeat;
	background-color: #1A1F23;
}

/* СТИЛИ ДЛЯ БУРГЕРА*/
.header__burger{
	position: fixed;
	top: -170px;
	right: 70px;
	height: 85%;
	padding: 0 10px;

	display: flex;
	align-items: center;
	z-index: 100;
}
.header__burger.active{
	display: flex;
	align-items: center;
	z-index: 100;
}
.burger__header {
	width: 40px;
	height: 25px;
	display: none;
}
.burger__header {
	z-index: 10002;
	position: relative;
	&:before,
	&:after{
		content: "";
			width: 100%;
			height: 3px;
			background-color: #fff;
			border-radius: 2px;

			position: absolute;
			right: 0;
	}
	&:before{
		top:0;
	}
	&:after{
		bottom:0;
	}
	span{
			width: 100%;
			height: 3px;
			border-radius: 3px;
			background-color:  #fff;

			position: absolute;
			top:45% ;
			left: 0;
	}
	&:hover{
		cursor: pointer;
	}
}
.burger__header.active{
	&:before{
	transform: rotate(45deg);
	top:6px;
	}
	&:after{
	transform: rotate(-45deg);
	top: 6px;
	}
	span{
		width: 0;
		height: 0;
	}
}
.main__header{
	position: relative;
}
.header__nav{
	display: flex;
	justify-content: flex-end;

}
.header__nav.active{
	flex-direction: column;
	position: absolute;
	top: 30%;
	left: 20%;
	& li{
		margin-top: 50px;
	}

}
.header__menu.active{
	display: block;
	position:fixed;
	right: 0;
	top: 0;
	background-color: #1A1F23;
	height: 100vh;
	width: 30%;
	z-index: 99;
}

.nav__link{
	//transform: translate(0px, 120%);
	//opacity: 0;
	transition: all 0.8s ease 0s;
	margin-right: 70px;
	color: #FFFFFF;
	&:hover{
		text-decoration: overline;
	}
}
.main__frame{
	display: flex;
	max-width: 1386px;
	max-height: 721px;
	margin: 88px auto 0px auto;
	background: rgba(26, 31, 35, 0.7);
	border: 1px solid #4A4A4A;
	box-sizing: border-box;
}
.main__title{
	font-weight: bold;
	font-size: 75px;
	line-height: 114px;
}
.main__frame{
	padding: 0px 80px 150px 80px;
}
.frame__left{
	position: relative;
	&:after{
		content:"";
		width: 1px;
		height: 100%;
		position: absolute;
		top: calc(50% - 200px);
		right: 50px;
		background-color: #fff;
	}
}
.frame__right{
	padding-top: 80px;
}
.frame__text{
	font-size: 30px;
	line-height: 47px;
}
@keyframes bounce {
	0%, 20%, 60%, 100% {
		transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		transform: translateY(-20px);
		transform: translateY(-20px);
	}

	80% {
		transform: translateY(-10px);
		transform: translateY(-10px);
	}
}
.frame__btn{
	display: block;
	margin-top: 70px;
	background: #EBEBEB;
	font-size: 36px;
	color: #000000;
	padding: 30px 140px;
	text-align: center;
	&:hover{
		animation: bounce 1s;
	}
}

/*==============ROOMS============*/
.rooms{
	margin-top: -80px;
	background: url(../img/back2.png) ;
	background-size: 100%;
	padding-top: 130px;
}
.title{
	font-size: 75px;
	line-height: 114px;
	letter-spacing: 0.085em;
	text-align: center;
}
.rooms__title{
	color: #000000;
	margin-bottom: 90px;
}
.rooms__frame{
	max-width: 1035px;
	margin: 0 auto 100px auto;
	padding-bottom:100px;
	background: #1A1F23;
}
.rooms__card{
	
}
.rooms__subtitle{} 
.subtitle{
	font-size: 56px;
	color: #FFFFFF;
	margin-bottom: 50px;
}
.rooms__text{

} 
.text_room{
	font-size: 30px;
	line-height: 44px;
	color: #FFFFFF;
	margin-bottom: 50px;
}
.btn_room{
	background-color: #fff;
	padding: 25px 75px;
	font-size: 30px;
	line-height: 44px;
	letter-spacing: 0.275em;
	transition: all .3s .1s ease-out;
	color: #000000;
	&:hover{
		letter-spacing: 15px;
	}
}
.two_rooms{
	position: relative;
	padding: 118px 60px 52px 380px;
	&:after{
		content: "";
		position: absolute;
		bottom: 0;
		right: 70px;
		height: 1px;
		background-color: #fff;
		width: 57%;
	}
	&:before{
		content: "";
		background-image: url('../img/2x_mest.jpg');
		background-size: auto;
		position: absolute;
		width: 475px;
		height: 550px;
		top: 70px;
		left: -200px;
		
	}
}
.three_rooms{
	position: relative;
	padding: 118px 320px 52px 87px;
	text-align: right;
	&:after{
		content: "";
		position: absolute;
		bottom: 0;
		left: 70px;
		height: 1px;
		background-color: #fff;
		width: 67%;
	}
	&:before{
		content: "";
		background-image: url('../img/3x_mest.jpg');
		background-size: auto;
		position: absolute;
		width: 475px;
		height: 550px;
		top: 60px;
		right: -250px;
	}
}
.fourth_rooms{
	position: relative;
	padding: 118px 60px 52px 380px;
	&:after{
		content: "";
		position: absolute;
		bottom: 0;
		right: 70px;
		height: 1px;
		background-color: #fff;
		width: 57%;
	}
	&:before{
		content: "";
		background-image: url('../img/4x_mest.jpg');
		background-size: 475px 550px ;
		position: absolute;
		width: 475px;
		height: 550px;
		top: 80px;
		left: - 200px;
	}
}

/*=============ГАЛЛЕРЕЯ================*/
.gallery{
	padding-top: 85px;
	padding-bottom: 85px;
	background-color: #1A1F23;
}
.gallery__title{
	color: #fff;
	margin-bottom: 115px;
}
/* Лента слайдов */
.slick-track{
	display: flex;
}
.galley__item {
	height: 100%;
	flex: 0 1 33.333%;
}
.gallery__pic{
	height: 120vh;
}
.slick-track{
	overflow: hidden;
}

.gallery__slider {
	position: relative;
	text-align: center;
	overflow: hidden;
		.slick-arrow{
		position: absolute;
		top: 50%;
		width: 50px;
		height: 80px;
		z-index:10;
		font-size: 0;
	}
	.slick-arrow.slick-prev{
		left: 50px;
		background: url('../img/gallety_arrow_left.svg') 0 0 / 100% no-repeat;
	}
	.slick-arrow.slick-next{
		right: 50px;
		background: url('../img/gallety_arrow_right.svg') 0 0 / 100% no-repeat;;
	}
	.slick-slide.slick-center{
		opacity: 1;
		transform: scale(1);
	}
	.slick-slide{
		opacity: 0.3;
		transform: scale(0.8);
	}

}


/*==================КАРТА====================*/
.map{
	width: 100%;
	position: relative;
}
.map__map{
	width: 100%;
	height: 774px;
}
.map__item{
	position: absolute;
	color: #000;
	margin-top: -210px;
	width: 596px;
	height: 443px;
	background: #FFFFFF;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
	left: 259px;
	top: 50%;
	padding-left:100px;
	padding-top: 60px;

}
.map__title{
	font-size: 36px;
	line-height: 44px;
	letter-spacing: 0.015em;
	margin-bottom: 50px;
}
.map__text{
	margin-bottom: 25px;
	font-size: 24px;
	line-height: 44px;
	letter-spacing: 0.06em;
}
.map__contact{
	color: #000;
	&:hover{
		text-decoration: underline;
	}
}
/*================ФУТЕР==============*/
.footer{
	padding: 40px 0;
	background-color: #1A1F23;
	.container{
		display: flex;
		padding: 0px 80px 0 80px;
	}
}
.footer__left{
	flex: 1 0 50%;
}
.footer__right{
	display: flex;
	justify-content: flex-end;
	flex: 1 0 50%;
}
.footer__logo{
	width: 200px;
	height: 200px;
	margin-top: -20px;
}
.footer__top{
	display: flex;
}
.footer__contacts{
	display: flex;
	flex-direction: column;
}
.footer__menu{
	display: flex;
	flex-direction: column;
	font-size: 36px;
	line-height: 44px;
	margin-right: 50px;
}
.footer__rooms{
	display: flex;
	font-size: 36px;
	line-height: 44px;
	flex-direction: column;
}
.footer__link{
	color: #fff;
	font-size: 24px;
	line-height: 44px;
		&:hover{
		text-decoration: underline;
	}

}
.footer__contact{
	color: #fff;
	margin-top:  25px;
	font-size: 24px;
}
.footer__bottom{
	font-size: 24px;
	line-height: 44px;
}

/* tworoom*/
//ОБЩИЕ 
.room_info {
	.container{
		display: flex;
	}
}
.room_right {
	padding-left: 100px;
}
.room_title {
	font-size: 56px;
	margin-bottom: 100px;
	position: relative;

	&:after{
		position: absolute;
		content: "";
		width: 45%;
		height: 3px;
		background-color: #000000;
		bottom: -40px;
		left: 0;
	}
}
.room_text {
	font-size: 30px;
	line-height: 44px;
	margin-bottom: 50px;
}
.room_price {
	font-size: 40px;
	margin-top: 90px;
}
.symbol__item {
	font-size: 25px;
	position: relative;
	margin-right: 80px;
}
.wifi {
	&:before{
		position: absolute;
		content: url(../img/wifi.svg);
		top: -70px;
		left: -50%;
	}
}
.area {
		&:before{
		position: absolute;
		content: url(../img/area.svg);
		top: -70px;
		left: -50%;
	}
}
.tv {
		&:before{
		position: absolute;
		content: url(../img/tv.svg);
		top: -70px;
		left: -80%;
	}
}
.balcony {
	&:before{
		position: absolute;
		content: url(../img/balcony.svg);
		top: -70px;
		left: -50%;
	}
}
.header_left {
	display: flex;
	align-items: center;
	flex: 1 0 50%;
}
.header_logo {
	width: 180px;
	height: 180px;
}
.header_contact {
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: #fff;
}
.instagram {
	margin-right: 10px;
}
.tel {
	margin-right: 10px;
}
.ref_room{
	color: #fff;
	font-size: 24px;
	margin-bottom: 20px;
	position: relative;
}
.menu_room{
	flex: 1 0 50%;
}
.header_room{
	display: flex;
	align-items: center;
}
.room_nav {
	padding-top: 15px;
	padding-bottom: 50px;
}
.room_link {
	color: #1A1F23;
}
.room{
	background-color: #1A1F23;
}
.room_info {
	color: #1A1F23;
}
.room_symbol {
	margin-top: 120px;
}

.slaider_room{
	overflow: hidden;
	position: relative;
	flex: 1 0 50%;
	.slick-arrow{
		position: absolute;
		top: 50%;
		width: 40px;
		height: 70px;
		z-index:10;
		font-size: 0;
	}
	.slick-arrow.slick-prev{
		left: 20px;
		background: url('../img/gallety_arrow_left.svg') 0 0 / 100% no-repeat;
	}
	.slick-arrow.slick-next{
		right: 20px;
		background: url('../img/gallety_arrow_right.svg') 0 0 / 100% no-repeat;
	}
	.slick-dots{
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.slick-dots li{
		list-style: none;
		margin: 0 10px;
	}
	.slick-dots li.slick-active button{
		opacity: 0.8;
	}
	.slick-dots button{
		font-size: 0;
		width: 20px;
		height: 20px;
		background-color: #000;
		opacity: 0.4;
		border-radius:50%;
	}
}

.room_accommodation {
	padding-bottom: 97px;
}
.accommodation_title {
	text-align: center;
	margin-top: 100px;
	margin-bottom: 90px;
	font-size: 48px;
	color: #000000;
}
.accommodation_table{
	color: #000;
	width: 100%;
	 border-spacing: 0px;
  border-collapse: collapse;
}
.table__header{
	width: 12%;
	height: 98px;
	text-align: center;
	border: 1px solid #000000;
	font-weight: 300;
	font-size: 27px;
	 border-spacing: 0;
	line-height: 28px;

}
.table__row{
	width: 12%;
	height: 98px;
	text-align: center;
	border: 1px solid #000000;
	font-weight: 300;
	font-size: 25px;
	line-height: 28px;
}
.first_row{
	width: 28%;
	height: 84px;
}
/*============*/

.rooms__information {
	font-style: normal;
	font-weight: 300;
	font-size: 36px;
	line-height: 44px;
	color: #000000;
	margin-bottom: 135px;
}

.rooms__paragraph {
	margin-bottom: 40px;
}
.rooms__box {
	.container{
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-around; 
	}

}
.rooms__card {
	flex: 0 1 30%;
	position: relative;
	&:hover{
		.rooms__img{
			filter: blur(2px);
			border: 1px solid #fff;
		}
	}
}
.rooms__name {
	position: absolute;
	top:40%;
	left: calc(50% - 150px);
	text-align: center;
	font-style: normal;
	font-weight: bold;
	letter-spacing: 5px;
	font-size: 48px;
	color: #FFFFFF;
}
.rooms__img {
	position: relative;
	height: 550px;
}
.rooms__img2{
	background:url(../img/rooms_2.png) no-repeat center;
    background-size: cover;
}
.rooms__img3{
	background:url(../img/rooms_3.png) no-repeat center;
    background-size: cover;
}
.rooms__img4{
	background:url(../img/rooms_4.png) no-repeat center;
    background-size: cover;
}

@media (max-width: 1600px){
	.burger__header {
		display: block;
	}
	.header__menu{
		display: none;
	}
	.main__frame{
		max-width: 80%;
		max-height: 700px;
	}
	.main__title{
		font-size: 70px;
	}
	.frame__btn{
		padding: 30px 100px;
	}
	.text_room{
		font-size: 28px;
	}
	.subtitle {
	    font-size: 54px;
	}
	.btn_room {
	    padding: 23px 70px;
	    font-size: 27px;
	}
	.rooms__frame {
	    max-width: 950px;
	}
	.two_rooms{
		padding: 118px 60px 52px 380px;
		&:before{
			width: 445px;
			height: 520px;
			top: 70px;
			left: -150px;
			
		}
	}
	.three_rooms{
		padding: 118px 320px 52px 87px;
		&:before{
			width: 445px;
			height: 520px;
			top: 60px;
			right: -200px;
		}
	}
	.fourth_rooms{
		padding: 118px 60px 52px 380px;
		&:before{
			width: 445px;
			height: 520px;
			top: 70px;
			left: -150px;
		}
	}
}
@media (max-width: 1560px){
	.burger__header {
		display: block;
	}
	.header__menu{
		display: none;
	}
	.main__frame{
		max-width: 80%;
		max-height: 700px;
	}
	.frame__left{
		padding-right: 100px;
	}
	.main__title{
		font-size: 70px;
	}
	.frame__btn{
		padding: 30px 60px;
	}
	.main__title{
		font-size: 65px;
	}
	.main__frame{
		padding: 0px 60px 150px 60px;
	}
}
@media (max-width: 1450px){
	.main__frame{
		max-width: 80%;
		max-height: 650px;
	}
	.frame__left{
		//width: 110%;
	}
	.main__title{
		font-size: 60px;
	}
	.frame__btn{
		padding: 30px 60px;
		font-size: 32px;
	}
	.two_rooms{
		padding: 90px 60px 52px 380px;
		&:before{
			width: 425px;
			height: 500px;
			top: 70px;
			left: -120px;
			
		}
	}
	.three_rooms{
		padding: 90px 320px 52px 87px;
		&:before{
			width: 425px;
			height: 500px;
			top: 60px;
			right: -170px;
		}
	}
	.fourth_rooms{
		padding: 90px 60px 52px 380px;
		&:before{
			width: 425px;
			height: 500px;
			top: 70px;
			left: -120px;
		}
	}
	.map__item{
		margin-top: -210px;
		width: 596px;
		height: 443px;
		left: 150px;
		top: 50%;
		padding-left:100px;
		padding-top: 60px;
	}
}

@media (max-width: 1350px){
	.main__frame{
		max-width: 80%;
		max-height: 620px;
	}
	.frame__left{
		//width: 110%;
	}
	.frame__logo{
		width: 140px;
		height: 140px;
	}
	.btb_tel{
		width: 30px;
		height: 30px;
	}
	.main__title{
		font-size: 60px;
		line-height: 100px;
	}
	.frame__text{
		font-size: 25px;
	}
	.frame__btn{
		padding: 25px 45px;
		font-size: 25px;
		margin-top: 50px;
	}
	.text_room{
		font-size: 25px;
	}
	.subtitle {
	    font-size: 52px;
	}
	.btn_room {
	    padding: 23px 70px;
	    font-size: 27px;
	}
	.rooms__frame {
	    max-width: 950px;
	}
	.two_rooms{
		padding: 90px 60px 52px 350px;
		&:before{
			width: 400px;
			height: 475px;
			top: 70px;
			left: -100px;
			
		}
	}
	.three_rooms{
		padding: 90px 340px 52px 50px;
		&:before{
			width: 400px;
			height: 475px;
			top: 60px;
			right: -120px;
		}
	}
	.fourth_rooms{
		padding: 90px 60px 52px 350px;
		&:before{
			width: 400px;
			height: 475px;
			top: 70px;
			left: -100px;
		}
	}	
}
@media (max-width: 1250px){
	.frame__left{
		&:after{
			top: calc(50% - 150px);
		}
	}
	.main__frame{
		max-height: 600px;
	}
	.main__title{
		font-size: 55px;
		line-height: 95px;
	}
	.frame__text{
		font-size: 23px;
	}
	.text_room{
		font-size: 25px;
	}
	.subtitle {
	    font-size: 47px;
	}
	.btn_room {
	    padding: 23px 70px;
	    font-size: 27px;
	}
	.rooms__frame {
	    max-width: 950px;
	}
	.two_rooms{
		padding: 80px 30px 52px 40%;
		&:before{
			width: 350px;
			height: 425px;
			top: 60px;
			left: -40px;
		}
	}
	.three_rooms{
		padding: 90px 40% 52px 40px;
		&:before{
			width: 350px;
			height: 425px;
			top: 60px;
			right: -40px;
		}
	}
	.fourth_rooms{
		padding: 60px 30px 52px 40%;
		&:before{
			width: 350px;
			height: 425px;
			top: 50px;
			left: -40px;
		}
	}
}
@media (max-width: 1200px){
	.rooms{
		padding-top: 100px;
	}
	.gallery{
		padding-top: 100px;
	}
	.gallery__title {
	    margin-bottom: 70px;
	}
	.rooms__title {
	    margin-bottom: 70px;
	}
	.title{
		font-size: 65px;
    	line-height: 114px;
	}
	.frame__left{
		padding-right: 50px;
		&:after{
			top: calc(50% - 150px);
			right: 30px;
		}
	}
	.main__frame{
		max-width: 85%;
		max-height: 600px;
		padding: 0px 50px 150px 50px;
	}
	.main__title{
		font-size: 50px;
		line-height: 95px;
	}
	.frame__text{
		font-size: 23px;
	}	
}
@media (max-width: 1100px){
	.text_room{
		font-size: 18px;
		 line-height: 35px;
	}
	.subtitle {
	    font-size: 40px;
	    margin-bottom: 30px;
	}
	.btn_room {
	    padding: 15px 52px;
	    font-size: 20px;
	}
	.rooms__frame {
	    max-width: 700px;
	}
	.two_rooms{
		padding: 80px 30px 52px 40%;
		&:before{
			width: 300px;
			height: 375px;
			top: 60px;
			left: -70px;
		}
	}
	.three_rooms{
		padding: 90px 40% 52px 40px;
		&:before{
			width: 300px;
			height: 375px;
			top: 70px;
			right: -70px;
		}
	}
	.fourth_rooms{
		padding: 60px 30px 52px 40%;
		&:before{
			width: 300px;
			height: 375px;
			top: 50px;
			left: -70px;
		}
	}

	.footer__logo{
		width: 150px;
		height: 150px;
	}
	
	.footer__menu{
		font-size: 28px;
	}
	.footer__rooms{
		font-size: 28px;
	}
	.footer__link{
		font-size: 20px;
	}
	.footer__contact{
		font-size: 22px;
	}
	.footer__bottom{
		font-size: 17px;
	}
}
@media (max-width: 1000px){
	.frame__right {
	    padding-top: 50px;
	}
	.main__frame{
		flex-direction: column;
		max-width: 75%;
		max-height: 700px;
	}
	.main__title{
		display: block;
		line-height: 65px;
	}
	.main__frame{
		padding: 0px 50px 300px 50px;
	}
	.frame__left{
		padding-top: 50px;
		position: relative;
		display: flex;
		&:after{
			display: none;
		}
		&:before{
			content:"";
			width: 70%;
			height: 1px ;
			position: absolute;
			bottom: -20px;
			right: calc(50% - 250px);
			background-color: #fff;
		}
	}
	.frame__btn {
	    margin-top: 35px;
	}
	.map__item {
	    width: 500px;
	    height: 350px;
	    left: 100px;
	    padding-left: 60px;
	    padding-top: 50px;
	}
	.map__title {
	    font-size: 32px;
	    margin-bottom: 30px;
	}
	.map__text{
		margin-bottom: 15px;
	}
}
@media (max-width: 900px){
	.text_room{
		font-size: 16px;
		line-height: 32px;
		margin-bottom: 35px;
	}
	.subtitle {
	    font-size: 35px;
	    margin-bottom: 30px;
	}
	.btn_room {
	    padding: 15px 52px;
	    font-size: 17px;
	}
	.rooms__frame {
	    max-width: 600px;
	    padding-bottom: 70px;
	}
	.two_rooms{
		padding: 60px 20px 52px 35%;
		&:before{
			width: 270px;
			height: 355px;
			top: 40px;
			left: -90px;
		}
	}
	.three_rooms{
		padding: 70px 35% 52px 40px;
		&:before{
			width: 270px;
			height: 355px;
			top: 50px;
			right: -90px;
		}
	}
	.fourth_rooms{
		padding: 60px 30px 52px 35%;
		&:before{
			width: 270px;
			height: 355px;
			top: 50px;
			left: -90px;
		}
	}
	.footer .container{
		display: block;
	}
	.footer__right{
		width: 100%;
		flex: 0 1 100%;
		justify-content: center;
	}
	.footer__left{
		display: none;
	}
	.footer__menu{
		margin-left: 80px;
		margin-right: 80px;
		position: relative;
		&:before{
			content: '';
			position: absolute;
			top: -30px;
			left: -150px;
			width: 150px;
			height:150px;
			background-size:contain;
			background-image: url(../img/logo.png);
		}
	}
	.footer__link{
		line-height: 40px;
	}

}
@media (max-width: 850px){
	.text_room{
		font-size: 16px;
		line-height: 32px;
		margin-bottom: 35px;
	}
	.subtitle {
	    font-size: 35px;
	    margin-bottom: 30px;
	}
	.btn_room {
	    padding: 15px 52px;
	    font-size: 17px;
	}
	.rooms__frame {
	    max-width: 600px;
	    padding-bottom: 70px;
	}
	.two_rooms{
		padding: 60px 20px 52px 35%;
		&:before{
			width: 270px;
			height: 355px;
			top: 40px;
			left: -90px;
		}
	}
	.three_rooms{
		padding: 70px 35% 52px 40px;
		&:before{
			width: 270px;
			height: 355px;
			top: 50px;
			right: -90px;
		}
	}
	.fourth_rooms{
		padding: 60px 30px 52px 35%;
		&:before{
			width: 270px;
			height: 355px;
			top: 50px;
			left: -90px;
		}
	}
	.footer .container {

    }
}