@import "nullstyle.scss";
body{
	background-color: #111;
	font-family: 'Poppins', sans-serif;
	color: white;
}
@font-face { 
  font-family: 'Arkhip';                           
  src: url('../fonts/Arkhip.woff') format('woff');
}
.computer{
	display: block;
	margin: 0 auto;
}
.map{
	position: relative;
}
svg{
	position: absolute;
	width: 100%;
	height: 100%;
}
.detail{
	opacity: 0;
	fill: red;
}
.detail:hover{
	opacity: 0.2;
}
.description {
	display: none;
	position: fixed;
	top: 20%;
	right: 5%;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-sizing: border-box;
    width: 250px;
    min-height: 280px;
    box-shadow: 10px 10px 15px 0px rgba(169, 169, 169, 0.1);
    color:white;
    font-family: 'Arkhip', sans-serif;
    letter-spacing: 1px;
}
.description_title{
	text-align: center;
	margin-bottom: 15px;
}
.row{
	display: flex;
}
.title{
	display: block;
	font-size: 60px;
	color: white;
	letter-spacing: 15px;
	line-height: 70px;
	text-align: left;
	margin-top: 70px;
	margin-bottom: 70px;
	width: 10px;
	word-wrap: break-word;
	text-shadow: -10px 6px 3px rgba(173,29,29,0.4); 
}
.container{
	background-color: #111;
	padding: 20px 40px 70px 70px;
	margin: 0 auto;
	max-width: 65%;
	box-shadow: 0px 20px 50px 10px rgba(169, 169, 169, 0.1);
	position: relative;
}
.text{
	font-family: 'Arkhip', sans-serif;
	font-size: 20px;
	line-height: 30px;
	margin-top: 30px;
}
.row__text{
	margin-top: 60px;
	margin-left: 120px;
}
.subtitle{
	font-size: 20px;
	margin-top: 60px;
	font-style: italic;
}
/*===========MAIN-========*/
.btn__box{
	display: flex;
	flex-direction: column;
	position: fixed;
	top:50%;
	z-index:1000;
}
.btn{
	width: 150px;
	font-family: 'Arkhip', sans-serif;
	font-size: 15px;
	color: white;	
	width: 150px;
	margin: 10px 10px 10px 20px;
	padding: 10px 0;
	text-align: center;
	transition: .3s linear;
	position: relative;
}
.button:before, .button:after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 15px;
    height: 15px;
    transition: .3s linear;
}
.button:before {
    left: -1px;
    top: -1px;
    border-left: 1px solid red;
    border-top: 1px solid red;
}
.button:after {
    bottom: -1px;
    right: -1px;
    border-bottom: 1px solid red;
    border-right: 1px solid red;
}
.button{
	padding: 10px 15px;
	color:white;
	&:hover{
		cursor: pointer;
		&:before {
		    border-left: 1px solid white;
		}
		&:after {
		    bottom: -3px;
		    right: -4px;

		    border-right: 1px solid white;
		}
	}
}


/*=====================PROCESSOR=============================*/
.detail__info{
	font-family: 'Arkhip', sans-serif;
	background-repeat: repeat;
	color: rgb(235,235,235);
	background-size: contain;
}
.processor__point{
	margin-left: 40px;
	font-size: 20px;
	line-height: 20px;
	margin-top: 15px;
}
.nav{
	position: fixed;
	left: 20px;
	top: 50%;
	margin-top: -320px; 
}
.nav__link{
	font-family: 'Arkhip', sans-serif;
	color: white;
	font-size: 20px;
	letter-spacing: 3px;
	line-height: 80px;
	margin-left: 20px;
	&:hover{
		text-decoration: underline;
		background-color: rgb(255,255,255);
		color: black;
	}
}
.main__link{
	margin-left: 0px;
}
/*======TEST=========*/
.text__container{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
.none{
	width: 150px;
}
.test__label{
	margin-right: 50px;
}
.test__btn{
	display: flex;
	flex-direction: column;
}
.check, .clear{
	background-color: inherit;
	width: 150px;
	font-family: 'Arkhip', sans-serif;
	font-size: 15px;
	color: white;	
	width: 150px;
	margin: 10px 10px 10px 20px;
	padding: 10px 0;
	text-align: center;
	transition: .3s linear;
	position: relative;
}
.pc-full{
	position: relative;
	background-image: url('../../img/main.png');
	background-size:contain;
	height: 120vh;
	width:55% ;
	background-repeat: no-repeat;

}
.label{
  width: 130px;
  background: white;
  color: black;
  margin-bottom: 10px;
  text-align: center;
  padding: 3px 1px;
}
.size{
  width: 120px;
  height: 15px;
  background: white;
  color: black;
}

#slot-empty {
  width: 50px;
  height: 50px;
}
#slot-processor {
  position: absolute;
  top: 210px;
  left: 170px;
}
#slot-videoCard{
   position: absolute;
   top: 350px;
   left: 170px;
}
#slot-cooling{
  position: absolute;
  top: 100px;
  left: 190px;
}
#slot-hardDrive{
  position: absolute;
  top: 500px;
  right: 150px;
}
#slot-CD{
  position: absolute;
  top: 110px;
  right: 110px;
}
#slot-power{
  position: absolute;
  bottom: 140px;
  left: 110px;
}
.slot {
	text-align: center;
 border:1px solid black;
  background-color: white;
}

.slot.default {
  border-color: black;
}
.slot.success {
  border-width: 4px;
  background-color: rgba(255,255,255,0.7);
  border-color: green;
}

.slot.error {
  border-width: 2px;
  border-color: red;
}
/*========FOOTER===========*/
.footer{
	padding: 60px 0 30px 0;
	font-family: 'Arkhip', sans-serif;
	font-size: 12px;
	color: white;
	display: flex;
	justify-content: space-around;
}

.footer__contact{
	display: flex;
	flex-direction: column;
}
.footer__link{
	color: white;
	margin-bottom: 5px;
}
.footer__text{
	margin-bottom: 15px;
}

#modal_form {
    max-width: 750px; 
    max-height: 450px;
    position: fixed;
    top: 45%;
    left: 50%; 
    margin-top: -225px;
    margin-left: -350px; 
    display: none; 
    opacity: 0;
    z-index: 9999; 
    padding: 20px 10px;
}
 
#overlay {
    z-index:9998; 
    position:fixed; 
    background-color:#000; 
    opacity:0.8; 
    width:100%; 
    height:100%; 
    top:0; 
    left:0;
    cursor:pointer;
    display:none;
}
 
.modal_close {
    width: 30px;
    height: 30px;
    position: absolute;
    top: -10px;
    right: -15px;
    cursor: pointer;
    display: block;
    color:white;
}

@media (max-width: 1800px){
	.nav__link{
		font-size: 16px;
		letter-spacing: 2px;
		line-height: 60px;
		margin-left: 10px;
	}
	.nav{
		position: fixed;
		left: 20px;
		top: 50%;
		margin-top: -240px; 
	}
	.title{
		margin-top: 60px;
		font-size: 50px;
		letter-spacing: 13px;
		line-height: 60px;
	}
	.container{
		background-color: #111;
		padding: 20px 40px 70px 50px;
		margin: 0 auto;
		max-width: 62%;
		box-shadow: 0px 20px 50px 10px rgba(169, 169, 169, 0.1);
		position: relative;
	}
	.text{
		font-family: 'Arkhip', sans-serif;
		font-size: 15px;
		line-height: 25px;
		margin-top: 20px;
	}
	.row__text{
		margin-top: 40px;
		margin-left: 100px;
	}
	.subtitle{
		font-size: 18px;
		margin-top: 45px;
		font-style: italic;
	}
	.processor__point {
	    font-size: 15px;
	}
}
