@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

/*--------------------*/
body {
  background-color: #111;
  font-family: 'Poppins', sans-serif;
  color: white; }

@font-face {
  font-family: 'Arkhip';
  src: url("../fonts/Arkhip.woff") format("woff"); }

.computer {
  display: block;
  margin: 0 auto; }

.map {
  position: relative; }

svg {
  position: absolute;
  width: 100%;
  height: 100%; }

.detail {
  opacity: 0;
  fill: red; }

.detail:hover {
  opacity: 0.2; }

.description {
  display: none;
  position: fixed;
  top: 20%;
  right: 5%;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.1);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 250px;
  min-height: 280px;
  -webkit-box-shadow: 10px 10px 15px 0px rgba(169, 169, 169, 0.1);
  box-shadow: 10px 10px 15px 0px rgba(169, 169, 169, 0.1);
  color: white;
  font-family: 'Arkhip', sans-serif;
  letter-spacing: 1px; }

.description_title {
  text-align: center;
  margin-bottom: 15px; }

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.title {
  display: block;
  word-wrap: break-word;
  text-shadow: -10px 6px 3px rgba(173, 29, 29, 0.4); }

.container {
  background-color: #111;
  padding: 20px 40px 70px 70px;
  margin: 0 auto;
  max-width: 65%;
  -webkit-box-shadow: 0px 20px 50px 10px rgba(169, 169, 169, 0.1);
  box-shadow: 0px 20px 50px 10px rgba(169, 169, 169, 0.1);
  position: relative; }

.title {
  font-size: 60px;
  color: white;
  letter-spacing: 15px;
  line-height: 70px;
  text-align: left;
  margin-top: 70px;
  margin-bottom: 70px;
  width: 10px; }

.text {
  font-family: 'Arkhip', sans-serif;
  font-size: 20px;
  line-height: 30px;
  margin-top: 30px; }

.row__text {
  margin-top: 60px;
  margin-left: 120px; }

.subtitle {
  font-size: 20px;
  margin-top: 60px;
  font-style: italic; }

/*===========MAIN-========*/
.btn__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: fixed;
  top: 50%;
  z-index: 1000; }

.btn {
  width: 150px;
  font-family: 'Arkhip', sans-serif;
  font-size: 15px;
  color: white;
  width: 150px;
  margin: 10px 10px 10px 20px;
  padding: 10px 0;
  text-align: center;
  -webkit-transition: .3s linear;
  -o-transition: .3s linear;
  transition: .3s linear;
  position: relative; }

.button:before, .button:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 15px;
  height: 15px;
  -webkit-transition: .3s linear;
  -o-transition: .3s linear;
  transition: .3s linear; }

.button:before {
  left: -1px;
  top: -1px;
  border-left: 1px solid red;
  border-top: 1px solid red; }

.button:after {
  bottom: -1px;
  right: -1px;
  border-bottom: 1px solid red;
  border-right: 1px solid red; }

.button {
  padding: 10px 15px;
  color: white; }
  .button:hover {
    cursor: pointer; }
    .button:hover:before {
      border-left: 1px solid white; }
    .button:hover:after {
      bottom: -3px;
      right: -4px;
      border-right: 1px solid white; }

/*=====================PROCESSOR=============================*/
.detail__info {
  font-family: 'Arkhip', sans-serif;
  background-repeat: repeat;
  color: #ebebeb;
  background-size: contain; }

.processor__point {
  margin-left: 40px;
  font-size: 20px;
  line-height: 20px;
  margin-top: 15px; }

.nav {
  position: fixed;
  left: 20px;
  top: calc(25vh); }

.nav__link {
  font-family: 'Arkhip', sans-serif;
  color: white;
  font-size: 20px;
  letter-spacing: 3px;
  line-height: 80px;
  margin-left: 20px; }
  .nav__link:hover {
    text-decoration: underline;
    background-color: white;
    color: black; }

.main__link {
  margin-left: 0px; }

/*======TEST=========*/
.text__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.none {
  width: 150px; }

.test__label {
  margin-right: 50px; }

.test__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.check, .clear {
  background-color: inherit;
  width: 150px;
  font-family: 'Arkhip', sans-serif;
  font-size: 15px;
  color: white;
  width: 150px;
  margin: 10px 10px 10px 20px;
  padding: 10px 0;
  text-align: center;
  -webkit-transition: .3s linear;
  -o-transition: .3s linear;
  transition: .3s linear;
  position: relative; }

.pc-full {
  position: relative;
  background-image: url("../img/main.png");
  background-size: contain;
  height: 120vh;
  width: 55%;
  background-repeat: no-repeat; }

.label {
  width: 130px;
  background: white;
  color: black;
  margin-bottom: 10px;
  text-align: center;
  padding: 3px 1px; }

.size {
  width: 120px;
  height: 15px;
  background: white;
  color: black; }

#slot-empty {
  width: 50px;
  height: 50px; }

#slot-processor {
  position: absolute;
  top: 210px;
  left: 170px; }

#slot-videoCard {
  position: absolute;
  top: 350px;
  left: 170px; }

#slot-cooling {
  position: absolute;
  top: 100px;
  left: 190px; }

#slot-hardDrive {
  position: absolute;
  top: 500px;
  right: 150px; }

#slot-CD {
  position: absolute;
  top: 110px;
  right: 110px; }

#slot-power {
  position: absolute;
  bottom: 140px;
  left: 110px; }

.slot {
  text-align: center;
  border: 1px solid black;
  background-color: white; }

.slot.default {
  border-color: black; }

.slot.success {
  border-width: 4px;
  background-color: rgba(255, 255, 255, 0.7);
  border-color: green; }

.slot.error {
  border-width: 2px;
  border-color: red; }

/*========FOOTER===========*/
.footer {
  padding: 60px 0 30px 0;
  font-family: 'Arkhip', sans-serif;
  font-size: 12px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.footer__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.footer__link {
  color: white;
  margin-bottom: 5px; }

.footer__text {
  margin-bottom: 15px; }

#modal_form {
  width: 700px;
  height: 550px;
  /* Рaзмеры дoлжны быть фиксирoвaны */
  position: fixed;
  /* чтoбы oкнo былo в видимoй зoне в любoм месте */
  top: 45%;
  /* oтступaем сверху 45%, oстaльные 5% пoдвинет скрипт */
  left: 50%;
  /* пoлoвинa экрaнa слевa */
  margin-top: -275px;
  margin-left: -350px;
  /* тут вся мaгия центрoвки css, oтступaем влевo и вверх минус пoлoвину ширины и высoты сooтветственнo =) */
  display: none;
  /* в oбычнoм сoстoянии oкнa не дoлжнo быть */
  opacity: 0;
  /* пoлнoстью прoзрaчнo для aнимирoвaния */
  z-index: 9999;
  /* oкнo дoлжнo быть нaибoлее бoльшем слoе */
  padding: 20px 10px; }

/* Пoдлoжкa */
#overlay {
  z-index: 9998;
  /* пoдлoжкa дoлжнa быть выше слoев элементoв сaйтa, нo ниже слoя мoдaльнoгo oкнa */
  position: fixed;
  /* всегдa перекрывaет весь сaйт */
  background-color: #000;
  /* чернaя */
  opacity: 0.98;
  /* нo немнoгo прoзрaчнa */
  -moz-opacity: 0.98;
  /* фикс прозрачности для старых браузеров */
  filter: alpha(opacity=80);
  width: 100%;
  height: 100%;
  /* рaзмерoм вo весь экрaн */
  top: 0;
  /* сверху и слевa 0, oбязaтельные свoйствa! */
  left: 0;
  cursor: pointer;
  display: none;
  /* в oбычнoм сoстoянии её нет) */ }

/* Кнoпкa зaкрыть для тех ктo в тaнке) */
.modal_close {
  width: 21px;
  height: 21px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  display: block;
  color: white; }
