@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

/*--------------------*/
body {
  color: #FFF;
  font-family: Spectral;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  overflow-x: hidden; }

.container {
  max-width: 1620px;
  margin: 0px auto; }

.main {
  padding: 100px 0 160px 0;
  background: url(../img/main.png) no-repeat;
  background-size: contain;
  background-color: #1A1F23; }

/* СТИЛИ ДЛЯ БУРГЕРА*/
.header__burger {
  position: fixed;
  top: 130px;
  right: 60px;
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  z-index: 100; }

.header__burger.burger_other {
  position: absolute;
  top: 0px;
  right: 70px; }

.header__burger.burger_other.active {
  position: fixed;
  top: 80px;
  right: 70px; }

.header__burger.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 100; }

.burger__header {
  width: 40px;
  height: 25px;
  display: none; }

.burger__header {
  z-index: 10002;
  position: relative; }
  .burger__header:before, .burger__header:after {
    content: "";
    width: 100%;
    height: 3px;
    background-color: #fff;
    border-radius: 2px;
    position: absolute;
    right: 0; }
  .burger__header:before {
    top: 0; }
  .burger__header:after {
    bottom: 0; }
  .burger__header span {
    width: 100%;
    height: 3px;
    border-radius: 3px;
    background-color: #fff;
    position: absolute;
    top: 45%;
    left: 0; }
  .burger__header:hover {
    cursor: pointer; }

.burger__header.active:before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 6px; }

.burger__header.active:after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 6px; }

.burger__header.active span {
  width: 0;
  height: 0; }

.main__header {
  position: relative; }

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.header__nav.active {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: absolute;
  top: 30%;
  left: 20%; }
  .header__nav.active li {
    margin-top: 50px; }

.menu_room.active {
  display: block;
  position: fixed;
  right: 0;
  top: 0;
  background-color: #1A1F23;
  height: 100%;
  width: 30%;
  z-index: 99; }

.header__menu.active {
  display: block;
  position: fixed;
  right: 0;
  top: 0;
  background-color: #1A1F23;
  height: 100%;
  width: 30%;
  z-index: 99; }

.nav__link {
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  margin-right: 70px;
  color: #FFFFFF; }
  .nav__link:hover {
    text-decoration: overline; }

.main__frame {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1386px;
  margin: 88px auto 0px auto;
  background: rgba(26, 31, 35, 0.7);
  border: 1px solid #4A4A4A;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.main__title {
  font-weight: bold;
  font-size: 75px;
  line-height: 114px; }

.main__frame {
  padding: 0px 80px 150px 80px; }

.frame__left {
  position: relative; }
  .frame__left:after {
    content: "";
    width: 1px;
    height: 100%;
    position: absolute;
    top: calc(50% - 200px);
    right: 50px;
    background-color: #fff; }

.frame__right {
  padding-top: 80px; }

.frame__text {
  font-size: 30px;
  line-height: 47px; }

@-webkit-keyframes bounce {
  0%, 20%, 60%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
    transform: translateY(-20px); }
  80% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
    transform: translateY(-10px); } }

@keyframes bounce {
  0%, 20%, 60%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
    transform: translateY(-20px); }
  80% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
    transform: translateY(-10px); } }

.frame__btn {
  display: block;
  margin-top: 70px;
  background: #EBEBEB;
  font-size: 36px;
  color: #000000;
  padding: 30px 140px;
  text-align: center; }
  .frame__btn:hover {
    -webkit-animation: bounce 1s;
    animation: bounce 1s; }

/*==============ROOMS============*/
.rooms {
  margin-top: -80px;
  background: url(../img/back2.png);
  background-size: 100%;
  padding-top: 130px; }

.title {
  font-size: 75px;
  line-height: 114px;
  letter-spacing: 0.085em;
  text-align: center; }

.rooms__title {
  color: #000000;
  margin-bottom: 90px; }

.rooms__frame {
  max-width: 1035px;
  margin: 0 auto 100px auto;
  padding-bottom: 100px;
  background: #1A1F23; }

.subtitle {
  font-size: 56px;
  color: #FFFFFF;
  margin-bottom: 50px; }

.text_room {
  font-size: 30px;
  line-height: 44px;
  color: #FFFFFF;
  margin-bottom: 50px; }

.btn_room {
  background-color: #fff;
  padding: 25px 75px;
  font-size: 30px;
  line-height: 44px;
  letter-spacing: 0.275em;
  -webkit-transition: all .3s .1s ease-out;
  -o-transition: all .3s .1s ease-out;
  transition: all .3s .1s ease-out;
  color: #000000; }
  .btn_room:hover {
    letter-spacing: 15px; }

.two_rooms {
  position: relative;
  padding: 118px 60px 52px 380px; }
  .two_rooms:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 70px;
    height: 1px;
    background-color: #fff;
    width: 57%; }
  .two_rooms:before {
    content: "";
    background-image: url("../img/2x_mest.jpg");
    background-size: auto;
    position: absolute;
    width: 475px;
    height: 550px;
    top: 70px;
    left: -200px; }

.three_rooms {
  position: relative;
  padding: 118px 320px 52px 87px;
  text-align: right; }
  .three_rooms:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 70px;
    height: 1px;
    background-color: #fff;
    width: 67%; }
  .three_rooms:before {
    content: "";
    background-image: url("../img/3x_mest.jpg");
    background-size: auto;
    position: absolute;
    width: 475px;
    height: 550px;
    top: 60px;
    right: -250px; }

.fourth_rooms {
  position: relative;
  padding: 118px 60px 52px 380px; }
  .fourth_rooms:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 70px;
    height: 1px;
    background-color: #fff;
    width: 57%; }
  .fourth_rooms:before {
    content: "";
    background-image: url("../img/4x_mest.jpg");
    background-size: 475px 550px;
    position: absolute;
    width: 475px;
    height: 550px;
    top: 80px;
    left: -200px; }

/*=============ГАЛЛЕРЕЯ================*/
.gallery {
  padding-top: 85px;
  padding-bottom: 85px;
  background-color: #1A1F23; }

.gallery__title {
  color: #fff;
  margin-bottom: 115px; }

/* Лента слайдов */
.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.galley__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 33.333%;
  flex: 0 1 33.333%; }

.gallery__pic {
  height: auto;
  width: auto; }

.slick-track {
  overflow: hidden; }

.gallery__slider {
  position: relative;
  text-align: center;
  overflow: hidden; }
  .gallery__slider .slick-arrow {
    position: absolute;
    top: 50%;
    width: 50px;
    height: 80px;
    z-index: 10;
    font-size: 0; }
  .gallery__slider .slick-arrow.slick-prev {
    left: 50px;
    background: url("../img/gallety_arrow_left.svg") 0 0/100% no-repeat; }
  .gallery__slider .slick-arrow.slick-next {
    right: 50px;
    background: url("../img/gallety_arrow_right.svg") 0 0/100% no-repeat; }
  .gallery__slider .slick-slide.slick-center {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }
  .gallery__slider .slick-slide {
    opacity: 0.3;
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8); }

/*==================КАРТА====================*/
.map {
  width: 100%;
  position: relative; }

.map__map {
  width: 100%;
  height: 774px; }

.map__item {
  position: absolute;
  color: #000;
  margin-top: -210px;
  width: 596px;
  height: 443px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  left: 259px;
  top: 50%;
  padding-left: 100px;
  padding-top: 60px; }

.map__title {
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 0.015em;
  margin-bottom: 50px; }

.map__text {
  margin-bottom: 25px;
  font-size: 24px;
  line-height: 44px;
  letter-spacing: 0.06em; }

.map__contact {
  color: #000; }
  .map__contact:hover {
    text-decoration: underline; }

/*================ФУТЕР==============*/
.footer {
  padding: 40px 0;
  background-color: #1A1F23; }
  .footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0px 80px 0 80px; }

.footer__left {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 50%;
  flex: 1 0 50%; }

.footer__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 50%;
  flex: 1 0 50%; }

.footer__logo {
  width: 200px;
  height: 200px;
  margin-top: -20px; }

.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-size: 36px;
  line-height: 44px;
  margin-right: 50px; }

.footer__rooms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 36px;
  line-height: 44px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.footer__link {
  color: #fff;
  font-size: 24px;
  line-height: 44px; }
  .footer__link:hover {
    text-decoration: underline; }

.footer__contact {
  color: #fff;
  margin-top: 25px;
  font-size: 24px; }

.footer__bottom {
  font-size: 24px;
  line-height: 44px; }

/* tworoom*/
.room_info .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 50px; }

.room_right {
  padding-left: 80px; }

.room_title {
  font-size: 56px;
  margin-bottom: 100px;
  position: relative; }
  .room_title:after {
    position: absolute;
    content: "";
    width: 45%;
    height: 3px;
    background-color: #000000;
    bottom: -40px;
    left: 0; }

.room_text {
  font-size: 30px;
  line-height: 44px;
  margin-bottom: 50px;
  padding-right: 10px; }

.room_price {
  font-size: 40px;
  margin-top: 90px; }

.symbol__item {
  font-size: 25px;
  position: relative;
  margin-right: 80px; }

.wifi:before {
  position: absolute;
  content: url(../img/wifi.svg);
  top: -70px;
  left: -50%; }

.area:before {
  position: absolute;
  content: url(../img/area.svg);
  top: -70px;
  left: -50%; }

.tv:before {
  position: absolute;
  content: url(../img/tv.svg);
  top: -70px;
  left: -80%; }

.balcony:before {
  position: absolute;
  content: url(../img/balcony.svg);
  top: -70px;
  left: -50%; }

.header_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 50%;
  flex: 1 0 50%; }

.header_logo {
  width: 180px;
  height: 180px; }

.header_contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #fff; }

.instagram {
  margin-right: 10px; }

.tel {
  margin-right: 10px; }

.ref_room {
  color: #fff;
  font-size: 24px;
  margin-bottom: 20px;
  position: relative; }

.menu_room {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 50%;
  flex: 1 0 50%; }

.header_room {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.room_nav {
  padding-top: 15px;
  padding-bottom: 50px;
  padding-left: 50px; }

.room_link {
  color: #1A1F23; }

.room {
  background-color: #1A1F23; }

.room_info {
  color: #1A1F23; }

.room_symbol {
  margin-top: 120px; }

.img_room {
  width: 100%;
  height: auto; }

.slaider_room {
  height: 800px;
  overflow: hidden;
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 50%;
  flex: 1 0 50%; }
  .slaider_room .slick-arrow {
    position: absolute;
    top: 50%;
    width: 40px;
    height: 70px;
    z-index: 10;
    font-size: 0; }
  .slaider_room .slick-arrow.slick-prev {
    left: 20px;
    background: url("../img/gallety_arrow_left.svg") 0 0/100% no-repeat; }
  .slaider_room .slick-arrow.slick-next {
    right: 20px;
    background: url("../img/gallety_arrow_right.svg") 0 0/100% no-repeat; }
  .slaider_room .slick-dots {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .slaider_room .slick-dots li {
    list-style: none;
    margin: 0 10px; }
  .slaider_room .slick-dots li.slick-active button {
    opacity: 0.8; }
  .slaider_room .slick-dots button {
    font-size: 0;
    width: 20px;
    height: 20px;
    background-color: #000;
    opacity: 0.4;
    border-radius: 50%; }

.room_accommodation {
  padding-bottom: 97px; }

.accommodation_title {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 90px;
  font-size: 48px;
  color: #000000; }

.accommodation_table {
  color: #000;
  width: 100%;
  border-spacing: 0px;
  border-collapse: collapse; }

.table__header {
  width: 12%;
  height: 98px;
  text-align: center;
  border: 1px solid #000000;
  font-weight: 300;
  font-size: 27px;
  border-spacing: 0;
  line-height: 28px; }

.table__row {
  width: 12%;
  height: 98px;
  text-align: center;
  border: 1px solid #000000;
  font-weight: 300;
  font-size: 25px;
  line-height: 28px; }

.first_row {
  width: 28%;
  height: 84px; }

/*============*/
.rooms__information {
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 44px;
  color: #000000;
  margin-bottom: 135px; }
  .rooms__information .container {
    padding-left: 50px;
    padding-right: 50px; }

.rooms__paragraph {
  margin-bottom: 40px; }

.rooms__box .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.rooms__card {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 30%;
  flex: 0 1 30%;
  position: relative; }
  .rooms__card:hover .rooms__img {
    -webkit-filter: blur(2px);
    filter: blur(2px);
    border: 1px solid #fff; }

.rooms__name {
  position: absolute;
  top: 40%;
  left: calc(50% - 150px);
  text-align: center;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 5px;
  font-size: 48px;
  color: #FFFFFF; }

.rooms__img {
  position: relative;
  height: 550px; }

.rooms__img2 {
  background: url(../img/rooms_2.png) no-repeat center;
  background-size: cover; }

.rooms__img3 {
  background: url(../img/rooms_3.png) no-repeat center;
  background-size: cover; }

.rooms__img4 {
  background: url(../img/rooms_4.png) no-repeat center;
  background-size: cover; }

@media (max-width: 1600px) {
  .burger__header {
    display: block; }
  .header__menu {
    display: none; }
  .menu_room {
    display: none; }
  .main__frame {
    max-width: 80%; }
  .main__title {
    font-size: 70px; }
  .frame__btn {
    padding: 30px 100px; }
  .text_room {
    font-size: 28px; }
  .subtitle {
    font-size: 54px; }
  .btn_room {
    padding: 23px 70px;
    font-size: 27px; }
  .rooms__frame {
    max-width: 950px; }
  .two_rooms {
    padding: 118px 60px 52px 380px; }
  .two_rooms:before {
    width: 445px;
    height: 520px;
    top: 70px;
    left: -150px; }
  .three_rooms {
    padding: 118px 320px 52px 87px; }
  .three_rooms:before {
    width: 445px;
    height: 520px;
    top: 60px;
    right: -200px; }
  .fourth_rooms {
    padding: 118px 60px 52px 380px; }
  .fourth_rooms:before {
    width: 445px;
    height: 520px;
    top: 70px;
    left: -150px; }
  .room_nav {
    padding-left: 50px; } }

@media (max-width: 1560px) {
  .main__frame {
    max-width: 80%; }
  .frame__left {
    padding-right: 100px; }
  .main__title {
    font-size: 70px; }
  .frame__btn {
    padding: 30px 60px; }
  .main__title {
    font-size: 65px; }
  .main__frame {
    padding: 0px 60px 150px 60px; } }

@media (max-width: 1450px) {
  .main__frame {
    max-width: 80%; }
  .main__title {
    font-size: 60px; }
  .frame__btn {
    padding: 30px 60px;
    font-size: 32px; }
  .two_rooms {
    padding: 90px 60px 52px 380px; }
  .two_rooms:before {
    width: 425px;
    height: 500px;
    top: 70px;
    left: -120px; }
  .three_rooms {
    padding: 90px 320px 52px 87px; }
  .three_rooms:before {
    width: 425px;
    height: 500px;
    top: 60px;
    right: -170px; }
  .fourth_rooms {
    padding: 90px 60px 52px 380px; }
  .fourth_rooms:before {
    width: 425px;
    height: 500px;
    top: 70px;
    left: -120px; }
  .map__item {
    margin-top: -210px;
    width: 596px;
    height: 443px;
    left: 150px;
    top: 50%;
    padding-left: 100px;
    padding-top: 60px; } }

@media (max-width: 1350px) {
  .main__frame {
    max-width: 80%; }
  .frame__logo {
    width: 140px;
    height: 140px; }
  .btb_tel {
    width: 30px;
    height: 30px; }
  .main__title {
    font-size: 60px;
    line-height: 100px; }
  .frame__text {
    font-size: 25px; }
  .frame__btn {
    padding: 25px 45px;
    font-size: 25px;
    margin-top: 50px; }
  .text_room {
    font-size: 25px; }
  .subtitle {
    font-size: 52px; }
  .btn_room {
    padding: 23px 70px;
    font-size: 27px; }
  .rooms__frame {
    max-width: 950px; }
  .two_rooms {
    padding: 90px 60px 52px 350px; }
  .two_rooms:before {
    width: 400px;
    height: 475px;
    top: 70px;
    left: -100px; }
  .three_rooms {
    padding: 90px 340px 52px 50px; }
  .three_rooms:before {
    width: 400px;
    height: 475px;
    top: 60px;
    right: -120px; }
  .fourth_rooms {
    padding: 90px 60px 52px 350px; }
  .fourth_rooms:before {
    width: 400px;
    height: 475px;
    top: 70px;
    left: -100px; }
  .room_info .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .room_right {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
    margin-bottom: 40px;
    padding-left: 0px; }
  .img_room {
    width: 70%; }
  .slaider_room {
    text-align: center;
    padding-top: 20px; }
  .room_symbol {
    text-align: center; }
  .symbol__item {
    margin-right: 15%; }
  .slaider_room:before {
    content: "Фото";
    color: #000;
    font-size: 70px; }
  .slaider_room .slick-arrow.slick-prev {
    left: 20px;
    background: url("../img/black_arrow_left.svg") 0 0/100% no-repeat;
    opacity: .8; }
  .slaider_room .slick-arrow.slick-next {
    right: 20px;
    background: url("../img/black_arrow_right.svg") 0 0/100% no-repeat;
    opacity: .8; } }

@media (max-width: 1250px) {
  .frame__left:after {
    top: calc(50% - 150px); }
  .main__title {
    font-size: 55px;
    line-height: 95px; }
  .frame__text {
    font-size: 23px; }
  .text_room {
    font-size: 25px; }
  .subtitle {
    font-size: 47px; }
  .btn_room {
    padding: 23px 70px;
    font-size: 27px; }
  .rooms__frame {
    max-width: 950px; }
  .two_rooms {
    padding: 80px 30px 52px 40%; }
  .two_rooms:before {
    width: 350px;
    height: 425px;
    top: 60px;
    left: -40px; }
  .three_rooms {
    padding: 90px 40% 52px 40px; }
  .three_rooms:before {
    width: 350px;
    height: 425px;
    top: 60px;
    right: -40px; }
  .fourth_rooms {
    padding: 60px 30px 52px 40%; }
  .fourth_rooms:before {
    width: 350px;
    height: 425px;
    top: 50px;
    left: -40px; } }

@media (max-width: 1200px) {
  .rooms {
    padding-top: 100px; }
  .gallery {
    padding-top: 100px; }
  .gallery__title {
    margin-bottom: 70px; }
  .rooms__title {
    margin-bottom: 70px; }
  .title {
    font-size: 65px;
    line-height: 114px; }
  .frame__left {
    padding-right: 50px; }
  .frame__left:after {
    top: calc(50% - 150px);
    right: 30px; }
  .main__frame {
    max-width: 85%;
    padding: 0px 50px 150px 50px; }
  .main__title {
    font-size: 50px;
    line-height: 95px; }
  .frame__text {
    font-size: 23px; } }

@media (max-width: 1100px) {
  .header__menu.active {
    width: 55%; }
  .menu_room.active {
    width: 55%; }
  .text_room {
    font-size: 18px;
    line-height: 35px; }
  .subtitle {
    font-size: 40px;
    margin-bottom: 30px; }
  .btn_room {
    padding: 15px 52px;
    font-size: 20px; }
  .rooms__frame {
    max-width: 700px; }
  .two_rooms {
    padding: 80px 30px 52px 40%; }
  .two_rooms:before {
    width: 300px;
    height: 375px;
    top: 60px;
    left: -70px; }
  .three_rooms {
    padding: 90px 40% 52px 40px; }
  .three_rooms:before {
    width: 300px;
    height: 375px;
    top: 70px;
    right: -70px; }
  .fourth_rooms {
    padding: 60px 30px 52px 40%; }
  .fourth_rooms:before {
    width: 300px;
    height: 375px;
    top: 50px;
    left: -70px; }
  .footer__logo {
    width: 150px;
    height: 150px; }
  .footer__menu {
    font-size: 28px; }
  .footer__rooms {
    font-size: 28px; }
  .footer__link {
    font-size: 20px; }
  .footer__contact {
    font-size: 22px; }
  .footer__bottom {
    font-size: 17px; }
  .rooms__information {
    font-size: 32px; }
  .rooms__paragraph {
    margin-bottom: 30px; }
  .rooms__box .container {
    padding: 0 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .rooms__box .rooms__card {
    width: 90%;
    height: 550px;
    margin: 0 auto 40px auto; }
  .table__scroll {
    overflow-y: scroll; }
  .rooms__table {
    width: 1100px; } }

@media (max-width: 1000px) {
  .frame__right {
    padding-top: 50px; }
  .main__frame {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 75%; }
  .main__title {
    display: block;
    line-height: 65px; }
  .main__frame {
    padding: 0px 50px 70px 50px; }
  .frame__left {
    padding-top: 50px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .frame__left:after {
    display: none; }
  .frame__left:before {
    content: "";
    width: 70%;
    height: 1px;
    position: absolute;
    bottom: -20px;
    right: calc(50% - 250px);
    background-color: #fff; }
  .frame__btn {
    margin-top: 35px; }
  .map__item {
    width: 500px;
    height: auto;
    left: 100px;
    padding-left: 60px;
    padding-top: 50px;
    padding-bottom: 50px; }
  .map__title {
    font-size: 32px;
    margin-bottom: 30px; }
  .map__text {
    margin-bottom: 15px; }
  .gallery__slider .slick-arrow {
    width: 35px; } }

.gallery__pic {
  height: auto;
  width: 100%; }

@media (max-width: 900px) {
  .text_room {
    font-size: 16px;
    line-height: 32px;
    margin-bottom: 35px; }
  .subtitle {
    font-size: 35px;
    margin-bottom: 30px; }
  .btn_room {
    padding: 15px 52px;
    font-size: 17px; }
  .rooms__frame {
    max-width: 600px;
    padding-bottom: 70px; }
  .two_rooms {
    padding: 60px 20px 52px 35%; }
  .two_rooms:before {
    width: 270px;
    height: 355px;
    top: 40px;
    left: -90px; }
  .three_rooms {
    padding: 70px 35% 52px 40px; }
  .three_rooms:before {
    width: 270px;
    height: 355px;
    top: 50px;
    right: -90px; }
  .fourth_rooms {
    padding: 60px 30px 52px 35%; }
  .fourth_rooms:before {
    width: 270px;
    height: 355px;
    top: 50px;
    left: -90px; }
  .map__map {
    width: 100%;
    height: 500px; }
  .map__item {
    display: inline-block;
    position: static;
    margin-top: 0;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid black;
    padding-left: 0; }
  .footer .container {
    display: block; }
  .footer__right {
    width: 100%;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .footer__left {
    display: none; }
  .footer__menu {
    margin-left: 80px;
    margin-right: 80px;
    position: relative; }
  .footer__menu:before {
    content: '';
    position: absolute;
    top: -30px;
    left: -150px;
    width: 150px;
    height: 150px;
    background-size: contain;
    background-image: url(../img/logo.png); }
  .footer__link {
    line-height: 40px; }
  .scroll__table {
    overflow-x: scroll; }
  .fourroom__table, .three__table, .tworoom__table {
    width: 1100px; } }

@media (max-width: 850px) {
  .text_room {
    font-size: 16px;
    line-height: 32px;
    margin-bottom: 35px; }
  .subtitle {
    font-size: 35px;
    margin-bottom: 30px; }
  .btn_room {
    padding: 15px 52px;
    font-size: 17px; }
  .rooms__frame {
    max-width: 600px;
    padding-bottom: 70px; }
  .text_room {
    font-size: 18px; }
  .two_rooms {
    padding: 60px 20px 52px 80px; }
  .two_rooms:after {
    left: calc(50% - 200px);
    width: 67%; }
  .two_rooms:before {
    display: none; }
  .three_rooms {
    padding: 60px 20px 52px 80px;
    text-align: left; }
  .three_rooms:after {
    left: calc(50% - 200px); }
  .three_rooms:before {
    display: none; }
  .fourth_rooms {
    padding: 60px 20px 52px 80px; }
  .fourth_rooms:after {
    left: calc(50% - 200px);
    width: 67%; }
  .fourth_rooms:before {
    display: none; } }

@media (max-width: 800px) {
  .frame__logo {
    margin-left: -30px; }
  .frame__left {
    padding-right: 0px; }
  .frame__left:before {
    right: calc(50% - 200px); }
  .title {
    font-size: 50px; }
  .rooms, .gallery {
    padding-top: 80px; }
  .rooms__title {
    margin-bottom: 50px; }
  .rooms__frame {
    max-width: 550px; } }

.main {
  background-size: cover; }

@media (max-width: 700px) {
  .main__frame {
    padding: 0px 40px 70px 40px; }
  .main__title {
    font-size: 40px;
    line-height: 60px; }
  .frame__text {
    font-size: 20px;
    line-height: 42px; }
  .rooms__frame {
    max-width: 500px;
    padding-bottom: 70px; }
  .two_rooms {
    padding: 60px 20px 52px 60px; }
  .three_rooms {
    padding: 60px 20px 52px 60px; }
  .fourth_rooms {
    padding: 60px 20px 52px 60px; }
  .rooms__box .rooms__card {
    margin: 0 auto 40px auto; }
  .room_link {
    font-size: 28px; }
  .room_title {
    font-size: 52px;
    margin-bottom: 90px; }
  .room_text {
    font-size: 28px;
    line-height: 30px;
    margin-bottom: 45px; }
  .rooms__information {
    font-size: 24px;
    margin-bottom: 90px; }
  .rooms__img {
    height: 400px; }
  .rooms__paragraph {
    margin-bottom: 15px; }
  .room_price {
    font-size: 35px; }
  .room_text {
    font-size: 24px; }
  .room_title {
    font-size: 44px; } }

@media (max-width: 660px) {
  .frame__btn {
    padding: 20px 40px;
    font-size: 23px; }
  .btb_tel {
    width: 25px;
    height: 25px; }
  .frame__logo {
    width: 120px;
    height: 120px; }
  .frame__left:before {
    right: calc(50% - 170px); }
  .accommodation_title {
    font-size: 40px; } }

@media (max-width: 605px) {
  .rooms .container {
    padding: 0 40px 0 40px; }
  .header_logo {
    width: 150px;
    height: 150px; }
  .instagram, .tel {
    display: none; }
  .room_symbol {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .symbol__item {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 33.33%;
    flex: 0 1 33.33%;
    margin-bottom: 120px; }
  .wifi:before {
    top: -70px;
    left: 27%; }
  .wifi:before {
    top: -70px;
    left: 27%; }
  .area:before {
    top: -70px;
    left: 17%; }
  .tv:before {
    top: -70px;
    left: 28%; }
  .balcony:before {
    top: -70px;
    left: 26%; }
  .room_price {
    margin-top: -30px; }
  .slaider_room .slick-dots button {
    width: 15px;
    height: 15px; }
  .gallery__slider .slick-arrow.slick-prev {
    left: 30px; }
  .gallery__slider .lick-arrow.slick-next {
    right: 30px; }
  .map__title {
    font-size: 28px;
    margin-bottom: 15px; }
  .map__text {
    font-size: 20px;
    margin-bottom: 10px; }
  .rooms__box .rooms__card {
    width: 90%; } }

@media (max-width: 550px) {
  .frame__logo {
    display: none; }
  .main .container {
    position: relative; }
    .main .container:before {
      content: "";
      background-image: url("../img/logo.png");
      background-size: 120%;
      width: 100px;
      height: 100px;
      position: absolute;
      top: 20px;
      right: 95px; }
  .frame__left:before {
    left: 0; }
  .main__frame {
    padding: 0px 10px 70px 40px; }
  .frame__text {
    font-size: 20px;
    line-height: 35px; }
  .frame__btn {
    margin-right: 30px; }
  .gallery__slider .slick-arrow {
    width: 30px; } }

@media (max-width: 500px) {
  .frame__btn {
    padding: 20px 40px;
    font-size: 20px; }
  .btb_tel {
    width: 20px;
    height: 20px; }
  .map__map {
    height: 60vh; }
  .main .container:before {
    display: none; }
  .room_nav {
    padding-left: 30px;
    padding-bottom: 40px; }
  .room_link {
    font-size: 25px; }
  .rooms__information .container {
    padding-left: 30px;
    padding-right: 20px; }
  .rooms__information {
    font-size: 21px;
    line-height: 38px; }
  .rooms__img {
    height: 300px; }
  .room_right {
    padding-left: 30px; } }

@media (max-width: 490px) {
  .main .container:before {
    right: 65px; }
  .room_right {
    padding-right: 20px; }
  .slaider_room:before {
    font-size: 55px; }
  .header__burger.burger_other {
    right: 40px;
    top: -15px; }
  .header_logo {
    width: 120px;
    height: 120px; }
  .ref_room {
    font-size: 18px;
    margin-bottom: 10px;
    margin-left: -10px; }
  .burger__header:before, .burger__header:after {
    height: 2px; }
  .burger__header span {
    height: 2px; }
  .wifi:before {
    left: 15%; }
  .area:before {
    left: 0; }
  .tv:before {
    left: 13%; }
  .balcony:before {
    left: 13%; }
  .btn_room:hover {
    letter-spacing: 8px; } }

@media (max-width: 490px) {
  .gallery__slider .slick-arrow.slick-prev {
    left: 20px; }
  .gallery__slider .slick-arrow.slick-next {
    right: 20px; } }

@media (max-width: 470px) {
  .frame__btn {
    padding: 20px 20px; }
  .title {
    font-size: 40px; }
  .rooms, .gallery {
    padding-top: 60px; }
  .rooms__title {
    margin-bottom: 40px; }
  .two_rooms, .three_rooms, .fourth_rooms {
    padding: 60px 20px 52px 40px; }
  .main {
    padding: 70px 0 160px 0; }
  .header__burger {
    top: 100px; }
  .footer__menu {
    margin-left: 90px;
    margin-right: 50px;
    position: relative; } }

@media (max-width: 430px) {
  .map__title {
    font-size: 23px;
    margin-bottom: 15px; }
  .map__text {
    font-size: 18px;
    margin-bottom: 5px; }
  .map__item {
    padding: 30px 0; }
  .footer__menu:before {
    left: -130px; }
  .room_price {
    width: 200px;
    margin: -30px auto 0 auto; } }

@media (max-width: 400px) {
  .btn_room {
    padding: 15px 40px;
    font-size: 17px; }
  .main__title {
    font-size: 36px; } }

@media (max-width: 370px) {
  .footer__menu:before {
    display: none; }
  .footer__menu {
    margin-left: 30px;
    margin-right: 50px;
    position: relative; } }

@media (max-width: 350px) {
  .title {
    line-height: 50px;
    font-size: 38px; } }
