
.slick-list {
	overflow: hidden;
}

.slick-track{
	display: flex;
}
.reviews__slaider{
	position: relative;
}
.reviews__slaider .slick-arrow{
	z-index: 1000;
	position: absolute;
	bottom: 0;
	display: flex;
	font-size: 0;
	width: 27px;
	height: 27px;
}



.reviews__slaider .slick-arrow.slick-prev{
	left: 46.9%;
	background: url(../../img/slider_arrow-prev.png) 50% 50% no-repeat;
	background-color:#a9a9a9;
}
.reviews__slaider .slick-arrow.slick-next{

	left: 49.5%;
	background: url(../../img/slider_arrow-next.png) 50% 50% no-repeat;
	background-color:#a9a9a9;
}
