@import "nullstyle.scss";
@import "slaider-rewiew.scss";
@mixin text( $size, $ls, $fw ){
	font-size: $size;
	letter-spacing: $ls;
	font-weight: $fw;
}

$blue: #2763fb;
/* ОБЩЕЕ
========================= */
body{
	background: url(../../img/main-bg.jpg) no-repeat center 700px / cover;;
	font-family: 'Montserrat', sans-serif;
	color:#fff;
	overflow-x:hidden;
}
.container{
	max-width: 1190px;
	padding: 0 20px;
	margin: 0 auto;
	position: relative;
}
.title {
	@include text(36px, 0.05em, 600);
	color: #fff;
	text-align: center;
}

/* Header
===================== */
.header{
	padding: 56px 0;
	background: url(../../img/bg_1.jpg) no-repeat center top / cover;
	width: 100%;
	height: 700px;
}
.header__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header__logo {
}
.header__nav {
	display: flex;
}
.link {
	a{
		@include text(17px, 0.05em, 400);
		font-family: 'Open Sans', sans-serif;
		margin-left: 55px;
		color: #fff;
		position: relative;
		&:hover{
			&:after{
				content: "";	
				width: 100%;
				height: 1px;
				background-color: #fff;
				position: absolute;
				bottom: -6px;
				right: 0px;
			}	
		}
	}
	

}
.header__slaider {
}
.header__main {
	margin-top: 220px;
}
.header__title {
	@include text(85px, 0em, 700);
	margin-bottom: 20px;
}
.header__subtitle {
	@include text(22px, 0.05em, 400);
	
	padding-left: 45px; 
	
}
.header__before{
	position: relative;
	&:before{
				z-index: 1000;
				content: "";	
				width:30px ;
				height: 1px;
				background-color: #fff;
				position: absolute;
				left: 10px;
				top: 50%;
	}	
}
.btn {
	@include text(17px, 0.025em, 400);
	color: #fff;
	background-color: $blue;
	padding: 15px 32px;
	transition: all 0.5s linear;
}
.section{
	display: inline-block;
}
.section:hover{
		.frame{
			width: 0;
			height: 0;
			border: 0; 
		}
		.btn {
			padding: 15px 45px;
			border: 2px solid #fff;
			background:linear-gradient( 90deg, #2f4058, #517094) ;
		}

} 
.frame {
	margin-top: -25px;
	margin-left: 7px;
	border: 3px solid #fff;
	width: 220px;
	height: 50px;
	transition: all 0.5s linear;
}

.header__section{
	margin-top: 50px;
}
.header__section:hover{

		margin-top: 70px;
		.header__btn {
			margin-top: 90px;
			margin-left: 15px;
		}

} 
.header__sites {
	position: absolute;
	right: 35px;
}
.header__icon {
		margin-left: 20px;
		width: 30px;
		height: 30px;
		opacity: 0.8;
		&:hover{
			opacity: 1;
		}

}

.choose__title {
	margin: 90px 0;
}
.choose__info{
	padding: 30px 27px;
}
.choose__slaider {
	display: flex;
	overflow: scroll;
	overflow-y: hidden;
}

.choose__slaider::-webkit-scrollbar-track {
	height: 1px;
	border-radius: 4px;
}
.choose__slaider::-webkit-scrollbar {
	margin-top: 20px;
	width: 2px;
	background-color: #395b80;
}
.choose__slaider::-webkit-scrollbar-thumb {
	background: #f0f2f5;
}
.choose__slaider:hover::-webkit-scrollbar-thumb {
	background: #6a7d9b;
}
.choose__item {
	display: flex;
	flex-direction: column;
	flex: 0 1 33.333%;
	background-color: #fff;
	width: 346px;
	margin: 0 25px 0 25px;
}
.choose__img {
	height: 250px;
}
.choose__top {
	display: flex;
	justify-content: space-between;
}
.choose__name {
	@include text(18px, 0em, 600);
	color: #282828;
	margin-bottom: 33px;
}
.choose__day {
	@include text(12px, 0em, 400);
	color: #0060ff;
}
.choose__text {
	@include text(12px, 0em, 500);
	line-height: 1.25;
	color: #363636;
	margin-bottom: 15px;
}
.choose__date {
	@include text(12px, 0em, 400);
	color: #0060ff;
	margin-bottom: 20px;
}
.choose__bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.choose__price {
	@include text(18px, 0em, 600);
	color: #282828;

}
.choose__btn {
	background-color: #0060ff;
	color: #fff;
	padding: 13px 25px;
}

/* ABOUT
 ======================= */
.about {
	padding: 170px 0 100px 0;
	position: relative;
	.about_img{
		position: absolute;
		right: 0;
		max-width: 50%;
	}

}


.about__wrapper{
	display: flex;
}

.about__row {
	max-width: 460px;

}
.about__title {
	text-align: left;
	margin-bottom: 83px;
}

.about__subtitle {
	&:before{
		content: url(../../img/about_rock-img.png);
		margin-right: 7px;
	}
	margin-bottom: 40px;
	@include text(24px, 0.05em, 600);
}
.about__text {
	p{
		margin-bottom: 22px;
	}
		span{
			color:#2586f5;
		}
	@include text(14px, 0.05em, 400);
	line-height: 1.55;
}

.about__info{
	max-height: 458px;
	overflow: scroll; 
	overflow-x:hidden;
	padding-left: 60px;
	width: 320px;
}
/* TEAM
======================== */
.team{
	padding-top: 105px;
}

.team__row{
	margin: 0 auto;
	width: 945px;
	text-align: center;
}
.team__columns {
	display: flex;
}
.team__item {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 0 1 33.333%;
	padding: 0 25px;
}
.team__photo {
	margin-top: 80px;
	width: 170px;
	height: 170px;
}
.team__name {
	margin: 42px 0 10px 0;
	@include text(24px, 0.05em, 600);
}
.team__profesion {
	margin-bottom: 22px;
	@include text(14px, 0.05em, 400);
	opacity: .5;
}
.team__text {
	@include text(13px, 0.05em, 400);
	text-align: center;
	line-height: 1.18;
	margin-bottom: 83px;
}
.team__practice{
	@include text(13px, 0.05em, 600);
	text-align: center;
	margin-bottom: 7px;
}

.team{
	
}

.team__photo{
	margin-top: 70px;
	border: 4px solid #224164;
	border-radius: 50%;
}

/* 
================= */
.reviews {
	background: url(../../img/main-bg.jpg) no-repeat center -700px / cover;
	padding-top: 180px;
}

.reviews__title {
	margin-bottom: 70px;
}

.reviews__slaider {

}
.rewiews__item {
	display: flex;
	background-color: #fff;
	margin-left: 17px;
	margin-right: 17px; 
}
.reviews__right {
	display: flex;
	flex-direction: column;
	padding: 80px 80px 0 110px;
}
.reviews__top {
	margin-bottom: 13px;
	display: flex;
	justify-content: space-between;
}
.reviews__name {
	color: #223954;
	@include text(24px, 0.05em, 600);
}
.reviews__data {
	@include text(14px, 0.05em, 400);
	color:#121212;
	opacity: .5;
}
.reviews__tour {
	@include text(14px, 0.05em, 400);
	color:#121212;
	opacity: .6;
	margin-bottom: 50px;
	span{
		color:#2586f5;
		text-decoration: underline; 
		opacity: 1;
	}
}
.reviews__text {
	margin-bottom: 20px;
	@include text(15px, 0em, 500);
	color:#1b2a3b;
	line-height: 1.5;
}
.number{
	text-align: right; 
	font-family: 'Rubik', sant-serif;
	@include text(20px, 0em, 400);
	.black{
		color: #8d8d8d;
		position: relative;
	}
	.black:after{
		content: "";	
		width: 115%;
		height: 1px;
		background-color: #8d8d8d;
		position: absolute;
		bottom: -6px;
		right: 0px;
	}
	.blue{
		color: #1e82f5;
		position: relative;
	}
	.blue:after{
		content: "";	
		width: 115%;
		height: 1px;
		background-color: #1e82f5;
		position: absolute;
		bottom: -6px;
		left: 0px;
	}
}

/*FOOTER 
 ===================*/
footer{
	background-color: #223954;
	padding: 0 0 65px 0;

}

.footer__logo{
		display: block;
		margin-bottom: 40px;
}
.footer__icon{
	img{
		margin-right: 18px; 
		&:hover{
			transform: scale(1.005) translate(1px, 1px);
    		box-shadow: 2px 2px 50px -30px;
    		cursor: pointer;
		}
	}
	margin-bottom:40px;

}
.footer__row {
	display: flex;
	justify-content: space-between;
}
.footer__left {
	p{
		@include text( 14px, 0em, 400);
		color: #fff;
		opacity: .7;
	}
	padding-top: 86px;

}
.footer__right {
	padding-top: 108px;

}
.footer__column {
	display: flex;
}
.footer__item {

	h2{
		@include text( 14px, 0.025em, 600);
		color: #fff;
		margin-bottom: 28px;
	}
	a{
		@include text( 14px, 0.025em, 400);
		color: #fff;
		opacity: .7;
		margin-bottom: 10px;
		&:hover{
			opacity: .95;
		}
	}
	
	display: flex;
	flex-direction: column;
	margin-left: 80px;
}
.footer__table{
	p{
		@include text( 14px, 0.025em, 400);
		color: #fff;
		opacity: .7;
		margin-bottom: 4px;
		&:last-child{
		margin-bottom: 20px;
	}
	&:first-child{
		margin-top: 10px;
	}
	}

}
.footer__link {
}
